tests/integration/stepfunctions/v2/scenarios/templates/step-functions-calling-api-gateway.yaml
Resources:
  waitFnServiceRole0216D1B5:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Statement:
          - Action: sts:AssumeRole
            Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
        Version: "2012-10-17"
      ManagedPolicyArns:
        - Fn::Join:
            - ""
            - - "arn:"
              - Ref: AWS::Partition
              - :iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
  waitFnF267ED7D:
    Type: AWS::Lambda::Function
    Properties:
      Code:
        ZipFile: |
          import json


          def handler(event, context):
              print(event)

              body = json.loads(event["body"])

              if body["fail"]:
                  return {
                      "statusCode": 200,
                      "body": json.dumps({"errors": ["Errors.Failure"]})
                  }

              return {
                  "statusCode": 200,
                  "body": json.dumps({"hello": "world"})
              }
      Role:
        Fn::GetAtt:
          - waitFnServiceRole0216D1B5
          - Arn
      Handler: index.handler
      Runtime: python3.9
    DependsOn:
      - waitFnServiceRole0216D1B5
  waitFnEventInvokeConfig11670229:
    Type: AWS::Lambda::EventInvokeConfig
    Properties:
      FunctionName:
        Ref: waitFnF267ED7D
      Qualifier: $LATEST
      MaximumRetryAttempts: 0
  apiC8550315:
    Type: AWS::ApiGateway::RestApi
    Properties:
      Name: api
  apiCloudWatchRoleAC81D93E:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Statement:
          - Action: sts:AssumeRole
            Effect: Allow
            Principal:
              Service: apigateway.amazonaws.com
        Version: "2012-10-17"
      ManagedPolicyArns:
        - Fn::Join:
            - ""
            - - "arn:"
              - Ref: AWS::Partition
              - :iam::aws:policy/service-role/AmazonAPIGatewayPushToCloudWatchLogs
    UpdateReplacePolicy: Retain
    DeletionPolicy: Retain
  apiAccount57E28B43:
    Type: AWS::ApiGateway::Account
    Properties:
      CloudWatchRoleArn:
        Fn::GetAtt:
          - apiCloudWatchRoleAC81D93E
          - Arn
    DependsOn:
      - apiC8550315
    UpdateReplacePolicy: Retain
    DeletionPolicy: Retain
  apiDeployment149F1294de73d8965f6482f8e9c53d63c8688161:
    Type: AWS::ApiGateway::Deployment
    Properties:
      RestApiId:
        Ref: apiC8550315
      Description: Automatically created by the RestApi construct
    DependsOn:
      - apiproxyANY7F13F09C
      - apiproxy4EA44110
      - apiANYB3DF8C3C
  apiDeploymentStagedev96712F43:
    Type: AWS::ApiGateway::Stage
    Properties:
      RestApiId:
        Ref: apiC8550315
      DeploymentId:
        Ref: apiDeployment149F1294de73d8965f6482f8e9c53d63c8688161
      StageName: dev
    DependsOn:
      - apiAccount57E28B43
  apiproxy4EA44110:
    Type: AWS::ApiGateway::Resource
    Properties:
      ParentId:
        Fn::GetAtt:
          - apiC8550315
          - RootResourceId
      PathPart: "{proxy+}"
      RestApiId:
        Ref: apiC8550315
  apiproxyANYApiPermissionStepFunctionsCallingApiGatewayapi087EEC13ANYproxyAAE92B1A:
    Type: AWS::Lambda::Permission
    Properties:
      Action: lambda:InvokeFunction
      FunctionName:
        Fn::GetAtt:
          - waitFnF267ED7D
          - Arn
      Principal: apigateway.amazonaws.com
      SourceArn:
        Fn::Join:
          - ""
          - - "arn:"
            - Ref: AWS::Partition
            - ":execute-api:"
            - Ref: AWS::Region
            - ":"
            - Ref: AWS::AccountId
            - ":"
            - Ref: apiC8550315
            - /
            - Ref: apiDeploymentStagedev96712F43
            - /*/*
  apiproxyANYApiPermissionTestStepFunctionsCallingApiGatewayapi087EEC13ANYproxy4CE90A2A:
    Type: AWS::Lambda::Permission
    Properties:
      Action: lambda:InvokeFunction
      FunctionName:
        Fn::GetAtt:
          - waitFnF267ED7D
          - Arn
      Principal: apigateway.amazonaws.com
      SourceArn:
        Fn::Join:
          - ""
          - - "arn:"
            - Ref: AWS::Partition
            - ":execute-api:"
            - Ref: AWS::Region
            - ":"
            - Ref: AWS::AccountId
            - ":"
            - Ref: apiC8550315
            - /test-invoke-stage/*/*
  apiproxyANY7F13F09C:
    Type: AWS::ApiGateway::Method
    Properties:
      HttpMethod: ANY
      ResourceId:
        Ref: apiproxy4EA44110
      RestApiId:
        Ref: apiC8550315
      AuthorizationType: NONE
      Integration:
        IntegrationHttpMethod: POST
        Type: AWS_PROXY
        Uri:
          Fn::Join:
            - ""
            - - "arn:"
              - Ref: AWS::Partition
              - ":apigateway:"
              - Ref: AWS::Region
              - :lambda:path/2015-03-31/functions/
              - Fn::GetAtt:
                  - waitFnF267ED7D
                  - Arn
              - /invocations
  apiANYApiPermissionStepFunctionsCallingApiGatewayapi087EEC13ANYC9378D12:
    Type: AWS::Lambda::Permission
    Properties:
      Action: lambda:InvokeFunction
      FunctionName:
        Fn::GetAtt:
          - waitFnF267ED7D
          - Arn
      Principal: apigateway.amazonaws.com
      SourceArn:
        Fn::Join:
          - ""
          - - "arn:"
            - Ref: AWS::Partition
            - ":execute-api:"
            - Ref: AWS::Region
            - ":"
            - Ref: AWS::AccountId
            - ":"
            - Ref: apiC8550315
            - /
            - Ref: apiDeploymentStagedev96712F43
            - /*/
  apiANYApiPermissionTestStepFunctionsCallingApiGatewayapi087EEC13ANY9D250CDE:
    Type: AWS::Lambda::Permission
    Properties:
      Action: lambda:InvokeFunction
      FunctionName:
        Fn::GetAtt:
          - waitFnF267ED7D
          - Arn
      Principal: apigateway.amazonaws.com
      SourceArn:
        Fn::Join:
          - ""
          - - "arn:"
            - Ref: AWS::Partition
            - ":execute-api:"
            - Ref: AWS::Region
            - ":"
            - Ref: AWS::AccountId
            - ":"
            - Ref: apiC8550315
            - /test-invoke-stage/*/
  apiANYB3DF8C3C:
    Type: AWS::ApiGateway::Method
    Properties:
      HttpMethod: ANY
      ResourceId:
        Fn::GetAtt:
          - apiC8550315
          - RootResourceId
      RestApiId:
        Ref: apiC8550315
      AuthorizationType: NONE
      Integration:
        IntegrationHttpMethod: POST
        Type: AWS_PROXY
        Uri:
          Fn::Join:
            - ""
            - - "arn:"
              - Ref: AWS::Partition
              - ":apigateway:"
              - Ref: AWS::Region
              - :lambda:path/2015-03-31/functions/
              - Fn::GetAtt:
                  - waitFnF267ED7D
                  - Arn
              - /invocations
  statemachineRole52044F93:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Statement:
          - Action: sts:AssumeRole
            Effect: Allow
            Principal:
              Service:
                Fn::FindInMap:
                  - ServiceprincipalMap
                  - Ref: AWS::Region
                  - states
        Version: "2012-10-17"
  statemachineC5962F3E:
    Type: AWS::StepFunctions::StateMachine
    Properties:
      RoleArn:
        Fn::GetAtt:
          - statemachineRole52044F93
          - Arn
      DefinitionString:
        Fn::Join:
          - ""
          - - '{"StartAt":"Add Pet to Store","States":{"Add Pet to Store":{"Next":"Pet was Added Successfully?","Type":"Task","Resource":"arn:'
            - Ref: AWS::Partition
            - :states:::apigateway:invoke","Parameters":{"ApiEndpoint":"
            - Ref: apiC8550315
            - .execute-api.
            - Ref: AWS::Region
            - "."
            - Ref: AWS::URLSuffix
            - '","Method":"POST","Stage":"dev","RequestBody.$":"$","AuthType":"NO_AUTH"}},"Pet was Added Successfully?":{"Type":"Choice","Choices":[{"Variable":"$.ResponseBody.errors","IsPresent":true,"Next":"Failure"}],"Default":"Success"},"Success":{"Type":"Succeed"},"Failure":{"Type":"Fail"}}}'
    DependsOn:
      - statemachineRole52044F93
Outputs:
  apiEndpoint9349E63C:
    Value:
      Fn::Join:
        - ""
        - - https://
          - Ref: apiC8550315
          - .execute-api.
          - Ref: AWS::Region
          - "."
          - Ref: AWS::URLSuffix
          - /
          - Ref: apiDeploymentStagedev96712F43
          - /
  StateMachineArn:
    Value:
      Ref: statemachineC5962F3E
  StateMachineName:
    Value:
      Fn::GetAtt:
        - statemachineC5962F3E
        - Name
  RoleArn:
    Value:
      Fn::GetAtt:
        - statemachineRole52044F93
        - Arn
  RoleName:
    Value:
      Ref: statemachineRole52044F93
Mappings:
  ServiceprincipalMap:
    af-south-1:
      states: states.af-south-1.amazonaws.com
    ap-east-1:
      states: states.ap-east-1.amazonaws.com
    ap-northeast-1:
      states: states.ap-northeast-1.amazonaws.com
    ap-northeast-2:
      states: states.ap-northeast-2.amazonaws.com
    ap-northeast-3:
      states: states.ap-northeast-3.amazonaws.com
    ap-south-1:
      states: states.ap-south-1.amazonaws.com
    ap-south-2:
      states: states.ap-south-2.amazonaws.com
    ap-southeast-1:
      states: states.ap-southeast-1.amazonaws.com
    ap-southeast-2:
      states: states.ap-southeast-2.amazonaws.com
    ap-southeast-3:
      states: states.ap-southeast-3.amazonaws.com
    ca-central-1:
      states: states.ca-central-1.amazonaws.com
    cn-north-1:
      states: states.cn-north-1.amazonaws.com
    cn-northwest-1:
      states: states.cn-northwest-1.amazonaws.com
    eu-central-1:
      states: states.eu-central-1.amazonaws.com
    eu-north-1:
      states: states.eu-north-1.amazonaws.com
    eu-south-1:
      states: states.eu-south-1.amazonaws.com
    eu-south-2:
      states: states.eu-south-2.amazonaws.com
    eu-west-1:
      states: states.eu-west-1.amazonaws.com
    eu-west-2:
      states: states.eu-west-2.amazonaws.com
    eu-west-3:
      states: states.eu-west-3.amazonaws.com
    me-central-1:
      states: states.me-central-1.amazonaws.com
    me-south-1:
      states: states.me-south-1.amazonaws.com
    sa-east-1:
      states: states.sa-east-1.amazonaws.com
    us-east-1:
      states: states.us-east-1.amazonaws.com
    us-east-2:
      states: states.us-east-2.amazonaws.com
    us-gov-east-1:
      states: states.us-gov-east-1.amazonaws.com
    us-gov-west-1:
      states: states.us-gov-west-1.amazonaws.com
    us-iso-east-1:
      states: states.amazonaws.com
    us-iso-west-1:
      states: states.amazonaws.com
    us-isob-east-1:
      states: states.amazonaws.com
    us-west-1:
      states: states.us-west-1.amazonaws.com
    us-west-2:
      states: states.us-west-2.amazonaws.com
