tests/aws/services/stepfunctions/templates/callbacks/statemachines/sqs_failure_on_task_token.json5
{
  "Comment": "sqs_failure_on_task_token",
  "StartAt": "Iterate",
  "States": {
    "Iterate": {
      "Type": "Pass",
      "Parameters": {
        "Count.$": "States.MathAdd($.Iterator.Count, -1)"
      },
      "ResultPath": "$.Iterator",
      "Next": "IterateStep"
    },
    "IterateStep": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.Iterator.Count",
          "NumericLessThanEquals": 0,
          "Next": "NoMoreCycles"
        }
      ],
      "Default": "WaitAndReceive",
    },
    "WaitAndReceive": {
      "Type": "Wait",
      "Seconds": 1,
      "Next": "Receive"
    },
    "Receive": {
      "Type": "Task",
      "Parameters": {
        "QueueUrl.$": "$.QueueUrl"
      },
      "Resource": "arn:aws:states:::aws-sdk:sqs:receiveMessage",
      "ResultPath": "$.SQSOutput",
      "Next": "CheckMessages",
    },
    "CheckMessages": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.SQSOutput.Messages",
          "IsPresent": true,
          "Next": "SendFailure"
        }
      ],
       "Default": "Iterate"
    },
    "SendFailure": {
      "Type": "Map",
      "InputPath": "$.SQSOutput.Messages",
      "ItemProcessor": {
        "ProcessorConfig": {
          "Mode": "INLINE"
        },
        "StartAt": "ParseBody",
        "States": {
          "ParseBody": {
            "Type": "Pass",
            "Parameters": {
              "Body.$": "States.StringToJson($.Body)"
            },
            "Next": "Send"
          },
          "Send": {
            "Type": "Task",
            "Resource": "arn:aws:states:::aws-sdk:sfn:sendTaskFailure",
            "Parameters": {
              "Error": "Failure error",
              "Cause": "Failure cause",
              "TaskToken.$": "$.Body.TaskToken"
            },
            "End": true
          }
        },
      },
      "ResultPath": null,
      "Next": "Iterate"
    },
    "NoMoreCycles": {
      "Type": "Pass",
      "End": true
    }
  },
}
