tests/aws/services/stepfunctions/templates/scenarios/statemachines/choice_state_unsorted_choice_parameters_jsonata.json5
{
  "StartAt": "CheckResult",
  "States": {
    "CheckResult": {
      "Type": "Choice",
      "QueryLanguage": "JSONata",
      "Choices": [
        {
          "Condition": "{% $states.input.result.done %}",
          "Next": "FinishTrue",
        },
        {
          "Condition": "{% $not($states.input.result.done) %}",
          "Next": "FinishFalse",
        }
      ],
    },
    "FinishTrue": {
      "End": true,
      "Type": "Pass"
    },
    "FinishFalse": {
      "End": true,
      "Type": "Pass"
    }
  }
}