tests/aws/services/stepfunctions/templates/errorhandling/statemachines/task_service_lambda_invoke_catch_tbd.json5
{
  "StartAt": "InvokeLambda",
  "States": {
    "InvokeLambda": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName.$": "$.FunctionName",
        "Payload.$": "$.Payload",
      },
      "Next": "ProcessResult",
      "Catch": [
        {
          "ErrorEquals": [],
          "Next": "ErrorMatched"
        }
      ]
    },
    "ProcessResult": {
      "Type": "Pass",
      "End": true
    },
    "ErrorMatched": {
      "Type": "Pass",
      "End": true
    }
  }
}
