tests/aws/services/stepfunctions/templates/activities/statemachines/base_id_activity_consumer_timeout.json5
{
  "Comment": "BASE_ID_ACTIVITY_CONSUMER_TIMEOUT",
  "TimeoutSeconds": 600,
  "StartAt": "GetActivityTask",
  "States": {
    "GetActivityTask": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:sfn:getActivityTask",
      "Parameters": {
        "ActivityArn.$": "$.ActivityArn",
        "WorkerName": "BASE_ID_ACTIVITY_CONSUMER",
      },
      "ResultPath": "$.GetActivityTaskOutput",
      "Next": "CheckTaskToken"
    },
    "CheckTaskToken": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.GetActivityTaskOutput.TaskToken",
          "IsPresent": true,
          "Next": "TaskReceived"
        }
      ],
      "Default": "NoTaskReceived"
    },
    "TaskReceived": {
      "Type": "Pass",
      "End": true
    },
    "NoTaskReceived": {
      "Type": "Wait",
      "Seconds": 1,
      "OutputPath": "$.ActivityArn",
      "Next": "GetActivityTask"
    }
  }
}
