tests/aws/scenario/serverlesspresso/test_serverlesspresso.snapshot.json
{
  "tests/aws/scenario/serverlesspresso/test_serverlesspresso.py::TestServerlesspressoScenario::test_deployed_infra_state": {
    "recorded-date": "15-09-2023, 13:23:24",
    "recorded-content": {
      "outputs": {
        "AdminFnName": "ServerlesspressoStack-PublisherServicePublisherFun-rAjo3iDiwasz",
        "ConfigFnName": "ServerlesspressoStack-PublisherServicePublisherFun-12Zwk44uul0C",
        "ConfigTableName": "serverlesspresso-config-table",
        "CountingTableName": "serverlesspresso-counting-table",
        "EventBusName": "Serverlesspresso",
        "OrderManagerStateMachineArn": "arn:aws:states:<region>:111111111111:stateMachine:OrderManagerStateMachine-FvVtvaWwVojF",
        "OrderProcessorWorkflowStateMachineArn": "arn:aws:states:<region>:111111111111:stateMachine:OrderProcessorWorkflow",
        "OrderTableName": "serverlesspresso-order-table",
        "PopulateDbFunctionName": "ServerlesspressoStack-PopulateDbFnECBC3588-ab759D6lIT6r",
        "UserFnName": "ServerlesspressoStack-PublisherServicePublisherFun-9wnUnJGRH8fR",
        "UserPoolClientId": "43aos975r4ajbu6v8i0if9uqp7",
        "UserPoolId": "<region>_VblYXwlt3",
        "ValidatorServiceRESTApiValidatorServiceEndpoint3F21CEDD": "https://a2in89q4pb.execute-api.<region>.amazonaws.com/prod/",
        "ValidatorTableName": "serverlesspresso-validator-table"
      },
      "describe_stack": {
        "Capabilities": [
          "CAPABILITY_AUTO_EXPAND",
          "CAPABILITY_IAM",
          "CAPABILITY_NAMED_IAM"
        ],
        "ChangeSetId": "arn:aws:cloudformation:<region>:111111111111:changeSet/test-cs-2123dd09/3031093f-a08d-46f5-b94b-b074cf58cea5",
        "CreationTime": "datetime",
        "DisableRollback": false,
        "DriftInformation": {
          "StackDriftStatus": "NOT_CHECKED"
        },
        "EnableTerminationProtection": false,
        "LastUpdatedTime": "datetime",
        "NotificationARNs": [],
        "Outputs": [
          {
            "OutputKey": "EventBusName",
            "OutputValue": "Serverlesspresso"
          },
          {
            "OutputKey": "OrderProcessorWorkflowStateMachineArn",
            "OutputValue": "arn:aws:states:<region>:111111111111:stateMachine:OrderProcessorWorkflow"
          },
          {
            "OutputKey": "ValidatorServiceRESTApiValidatorServiceEndpoint3F21CEDD",
            "OutputValue": "https://a2in89q4pb.execute-api.<region>.amazonaws.com/prod/"
          },
          {
            "OutputKey": "ConfigFnName",
            "OutputValue": "ServerlesspressoStack-PublisherServicePublisherFun-12Zwk44uul0C"
          },
          {
            "OutputKey": "OrderTableName",
            "OutputValue": "serverlesspresso-order-table"
          },
          {
            "OutputKey": "AdminFnName",
            "OutputValue": "ServerlesspressoStack-PublisherServicePublisherFun-rAjo3iDiwasz"
          },
          {
            "OutputKey": "UserPoolClientId",
            "OutputValue": "43aos975r4ajbu6v8i0if9uqp7"
          },
          {
            "OutputKey": "ValidatorTableName",
            "OutputValue": "serverlesspresso-validator-table"
          },
          {
            "OutputKey": "UserPoolId",
            "OutputValue": "<region>_VblYXwlt3"
          },
          {
            "OutputKey": "OrderManagerStateMachineArn",
            "OutputValue": "arn:aws:states:<region>:111111111111:stateMachine:OrderManagerStateMachine-FvVtvaWwVojF"
          },
          {
            "OutputKey": "PopulateDbFunctionName",
            "OutputValue": "ServerlesspressoStack-PopulateDbFnECBC3588-ab759D6lIT6r"
          },
          {
            "OutputKey": "CountingTableName",
            "OutputValue": "serverlesspresso-counting-table"
          },
          {
            "OutputKey": "ConfigTableName",
            "OutputValue": "serverlesspresso-config-table"
          },
          {
            "OutputKey": "UserFnName",
            "OutputValue": "ServerlesspressoStack-PublisherServicePublisherFun-9wnUnJGRH8fR"
          }
        ],
        "Parameters": [
          {
            "ParameterKey": "BootstrapVersion",
            "ParameterValue": "/cdk-bootstrap/hnb659fds/version",
            "ResolvedValue": "10"
          }
        ],
        "RollbackConfiguration": {},
        "StackId": "arn:aws:cloudformation:<region>:111111111111:stack/ServerlesspressoStack/b2133d70-53b7-11ee-8350-12a8386ef723",
        "StackName": "ServerlesspressoStack",
        "StackStatus": "CREATE_COMPLETE",
        "Tags": []
      },
      "describe_stack_resources": {
        "StackResources": [
          {
            "DriftInformation": {
              "StackResourceDriftStatus": "NOT_CHECKED"
            },
            "LogicalResourceId": "AuthServiceCognitoAuthorizedRoleCE60131D",
            "PhysicalResourceId": "ServerlesspressoStack-AuthServiceCognitoAuthorized-HOHO0UY19IHV",
            "ResourceStatus": "CREATE_COMPLETE",
            "ResourceType": "AWS::IAM::Role",
            "StackId": "arn:aws:cloudformation:<region>:111111111111:stack/ServerlesspressoStack/b2133d70-53b7-11ee-8350-12a8386ef723",
            "StackName": "ServerlesspressoStack",
            "Timestamp": "timestamp"
          },
          {
            "DriftInformation": {
              "StackResourceDriftStatus": "NOT_CHECKED"
            },
            "LogicalResourceId": "AuthServiceCognitoUnAuthorizedRoleE9C36CE4",
            "PhysicalResourceId": "ServerlesspressoStack-AuthServiceCognitoUnAuthoriz-1VIK95ZS6JCYF",
            "ResourceStatus": "CREATE_COMPLETE",
            "ResourceType": "AWS::IAM::Role",
            "StackId": "arn:aws:cloudformation:<region>:111111111111:stack/ServerlesspressoStack/b2133d70-53b7-11ee-8350-12a8386ef723",
            "StackName": "ServerlesspressoStack",
            "Timestamp": "timestamp"
          },
          {
            "DriftInformation": {
              "StackResourceDriftStatus": "NOT_CHECKED"
            },
            "LogicalResourceId": "AuthServiceIdentityPool0DD75433",
            "PhysicalResourceId": "<region>:f00364e5-db3a-4c5a-9bc3-c101b580f60f",
            "ResourceStatus": "CREATE_COMPLETE",
            "ResourceType": "AWS::Cognito::IdentityPool",
            "StackId": "arn:aws:cloudformation:<region>:111111111111:stack/ServerlesspressoStack/b2133d70-53b7-11ee-8350-12a8386ef723",
            "StackName": "ServerlesspressoStack",
            "Timestamp": "timestamp"
          },
          {
            "DriftInformation": {
              "StackResourceDriftStatus": "NOT_CHECKED"
            },
            "LogicalResourceId": "AuthServiceIdentityPoolAuthenticatedRoleC5B99337",
            "PhysicalResourceId": "ServerlesspressoStack-AuthServiceIdentityPoolAuthe-K8LTNILEN2S3",
            "ResourceStatus": "CREATE_COMPLETE",
            "ResourceType": "AWS::IAM::Role",
            "StackId": "arn:aws:cloudformation:<region>:111111111111:stack/ServerlesspressoStack/b2133d70-53b7-11ee-8350-12a8386ef723",
            "StackName": "ServerlesspressoStack",
            "Timestamp": "timestamp"
          },
          {
            "DriftInformation": {
              "StackResourceDriftStatus": "NOT_CHECKED"
            },
            "LogicalResourceId": "AuthServiceIdentityPoolDefaultRoleAttachmentEC446C7D",
            "PhysicalResourceId": "AuthServiceIdentityPoolDefaultRoleAttachmentEC446C7D-hQnXbjLb6VM3",
            "ResourceStatus": "CREATE_COMPLETE",
            "ResourceType": "AWS::Cognito::IdentityPoolRoleAttachment",
            "StackId": "arn:aws:cloudformation:<region>:111111111111:stack/ServerlesspressoStack/b2133d70-53b7-11ee-8350-12a8386ef723",
            "StackName": "ServerlesspressoStack",
            "Timestamp": "timestamp"
          },
          {
            "DriftInformation": {
              "StackResourceDriftStatus": "NOT_CHECKED"
            },
            "LogicalResourceId": "AuthServiceIdentityPoolUnauthenticatedRole8AD0092E",
            "PhysicalResourceId": "ServerlesspressoStack-AuthServiceIdentityPoolUnaut-1P1TDYE3REXX2",
            "ResourceStatus": "CREATE_COMPLETE",
            "ResourceType": "AWS::IAM::Role",
            "StackId": "arn:aws:cloudformation:<region>:111111111111:stack/ServerlesspressoStack/b2133d70-53b7-11ee-8350-12a8386ef723",
            "StackName": "ServerlesspressoStack",
            "Timestamp": "timestamp"
          },
          {
            "DriftInformation": {
              "StackResourceDriftStatus": "NOT_CHECKED"
            },
            "LogicalResourceId": "AuthServiceUserPoolClientParameter43D60525",
            "PhysicalResourceId": "/Serverlesspresso/core/userpoolclient",
            "ResourceStatus": "CREATE_COMPLETE",
            "ResourceType": "AWS::SSM::Parameter",
            "StackId": "arn:aws:cloudformation:<region>:111111111111:stack/ServerlesspressoStack/b2133d70-53b7-11ee-8350-12a8386ef723",
            "StackName": "ServerlesspressoStack",
            "Timestamp": "timestamp"
          },
          {
            "DriftInformation": {
              "StackResourceDriftStatus": "NOT_CHECKED"
            },
            "LogicalResourceId": "AuthServiceUserPoolParameterD430E204",
            "PhysicalResourceId": "/Serverlesspresso/core/userpool",
            "ResourceStatus": "CREATE_COMPLETE",
            "ResourceType": "AWS::SSM::Parameter",
            "StackId": "arn:aws:cloudformation:<region>:111111111111:stack/ServerlesspressoStack/b2133d70-53b7-11ee-8350-12a8386ef723",
            "StackName": "ServerlesspressoStack",
            "Timestamp": "timestamp"
          },
          {
            "DriftInformation": {
              "StackResourceDriftStatus": "NOT_CHECKED"
            },
            "LogicalResourceId": "AuthServiceUserPoolUserPoolClient16DCF8BB",
            "PhysicalResourceId": "43aos975r4ajbu6v8i0if9uqp7",
            "ResourceStatus": "CREATE_COMPLETE",
            "ResourceType": "AWS::Cognito::UserPoolClient",
            "StackId": "arn:aws:cloudformation:<region>:111111111111:stack/ServerlesspressoStack/b2133d70-53b7-11ee-8350-12a8386ef723",
            "StackName": "ServerlesspressoStack",
            "Timestamp": "timestamp"
          },
          {
            "DriftInformation": {
              "StackResourceDriftStatus": "NOT_CHECKED"
            },
            "LogicalResourceId": "ConfigRESTApiRole",
            "PhysicalResourceId": "ServerlesspressoStack-ConfigRESTApiRole-116FW5CCN44W8",
            "ResourceStatus": "CREATE_COMPLETE",
            "ResourceType": "AWS::IAM::Role",
            "StackId": "arn:aws:cloudformation:<region>:111111111111:stack/ServerlesspressoStack/b2133d70-53b7-11ee-8350-12a8386ef723",
            "StackName": "ServerlesspressoStack",
            "Timestamp": "timestamp"
          },
          {
            "DriftInformation": {
              "StackResourceDriftStatus": "NOT_CHECKED"
            },
            "LogicalResourceId": "ConfigServiceConfigChangedFunction8CB6DB60",
            "PhysicalResourceId": "ServerlesspressoStack-ConfigServiceConfigChangedFu-9KKeEU75Hl7m",
            "ResourceStatus": "CREATE_COMPLETE",
            "ResourceType": "AWS::Lambda::Function",
            "StackId": "arn:aws:cloudformation:<region>:111111111111:stack/ServerlesspressoStack/b2133d70-53b7-11ee-8350-12a8386ef723",
            "StackName": "ServerlesspressoStack",
            "Timestamp": "timestamp"
          },
          {
            "DriftInformation": {
              "StackResourceDriftStatus": "NOT_CHECKED"
            },
            "LogicalResourceId": "ConfigServiceConfigChangedFunctionDynamoDBEventSourceServerlesspressoStackConfigServiceConfigTableB10677D51720E2B9",
            "PhysicalResourceId": "<uuid:1>",
            "ResourceStatus": "CREATE_COMPLETE",
            "ResourceType": "AWS::Lambda::EventSourceMapping",
            "StackId": "arn:aws:cloudformation:<region>:111111111111:stack/ServerlesspressoStack/b2133d70-53b7-11ee-8350-12a8386ef723",
            "StackName": "ServerlesspressoStack",
            "Timestamp": "timestamp"
          },
          {
            "DriftInformation": {
              "StackResourceDriftStatus": "NOT_CHECKED"
            },
            "LogicalResourceId": "ConfigServiceConfigChangedFunctionServiceRoleDefaultPolicy8F3E2550",
            "PhysicalResourceId": "Serve-Confi-JkRqOtEmi9hH",
            "ResourceStatus": "CREATE_COMPLETE",
            "ResourceType": "AWS::IAM::Policy",
            "StackId": "arn:aws:cloudformation:<region>:111111111111:stack/ServerlesspressoStack/b2133d70-53b7-11ee-8350-12a8386ef723",
            "StackName": "ServerlesspressoStack",
            "Timestamp": "timestamp"
          },
          {
            "DriftInformation": {
              "StackResourceDriftStatus": "NOT_CHECKED"
            },
            "LogicalResourceId": "ConfigServiceConfigChangedFunctionServiceRoleEFB145B1",
            "PhysicalResourceId": "ServerlesspressoStack-ConfigServiceConfigChangedFu-17MD595Y281TF",
            "ResourceStatus": "CREATE_COMPLETE",
            "ResourceType": "AWS::IAM::Role",
            "StackId": "arn:aws:cloudformation:<region>:111111111111:stack/ServerlesspressoStack/b2133d70-53b7-11ee-8350-12a8386ef723",
            "StackName": "ServerlesspressoStack",
            "Timestamp": "timestamp"
          },
          {
            "DriftInformation": {
              "StackResourceDriftStatus": "NOT_CHECKED"
            },
            "LogicalResourceId": "ConfigServiceConfigTableD352B014",
            "PhysicalResourceId": "serverlesspresso-config-table",
            "ResourceStatus": "CREATE_COMPLETE",
            "ResourceType": "AWS::DynamoDB::Table",
            "StackId": "arn:aws:cloudformation:<region>:111111111111:stack/ServerlesspressoStack/b2133d70-53b7-11ee-8350-12a8386ef723",
            "StackName": "ServerlesspressoStack",
            "Timestamp": "timestamp"
          },
          {
            "DriftInformation": {
              "StackResourceDriftStatus": "NOT_CHECKED"
            },
            "LogicalResourceId": "ConfigServiceRESTApConfigServiceE52F9E36",
            "PhysicalResourceId": "ny76qgx7nl",
            "ResourceStatus": "CREATE_COMPLETE",
            "ResourceType": "AWS::ApiGateway::RestApi",
            "StackId": "arn:aws:cloudformation:<region>:111111111111:stack/ServerlesspressoStack/b2133d70-53b7-11ee-8350-12a8386ef723",
            "StackName": "ServerlesspressoStack",
            "Timestamp": "timestamp"
          },
          {
            "DriftInformation": {
              "StackResourceDriftStatus": "NOT_CHECKED"
            },
            "LogicalResourceId": "CoreEventBusARNParameter18CA5950",
            "PhysicalResourceId": "/Serverlesspresso/core/eventbusarn",
            "ResourceStatus": "CREATE_COMPLETE",
            "ResourceType": "AWS::SSM::Parameter",
            "StackId": "arn:aws:cloudformation:<region>:111111111111:stack/ServerlesspressoStack/b2133d70-53b7-11ee-8350-12a8386ef723",
            "StackName": "ServerlesspressoStack",
            "Timestamp": "timestamp"
          },
          {
            "DriftInformation": {
              "StackResourceDriftStatus": "NOT_CHECKED"
            },
            "LogicalResourceId": "CoreEventBusNameParameterB5374CC9",
            "PhysicalResourceId": "/Serverlesspresso/core/eventbusname",
            "ResourceStatus": "CREATE_COMPLETE",
            "ResourceType": "AWS::SSM::Parameter",
            "StackId": "arn:aws:cloudformation:<region>:111111111111:stack/ServerlesspressoStack/b2133d70-53b7-11ee-8350-12a8386ef723",
            "StackName": "ServerlesspressoStack",
            "Timestamp": "timestamp"
          },
          {
            "DriftInformation": {
              "StackResourceDriftStatus": "NOT_CHECKED"
            },
            "LogicalResourceId": "CountingTable14EC498A",
            "PhysicalResourceId": "serverlesspresso-counting-table",
            "ResourceStatus": "CREATE_COMPLETE",
            "ResourceType": "AWS::DynamoDB::Table",
            "StackId": "arn:aws:cloudformation:<region>:111111111111:stack/ServerlesspressoStack/b2133d70-53b7-11ee-8350-12a8386ef723",
            "StackName": "ServerlesspressoStack",
            "Timestamp": "timestamp"
          },
          {
            "DriftInformation": {
              "StackResourceDriftStatus": "NOT_CHECKED"
            },
            "LogicalResourceId": "DebugLogGroup630DE26B",
            "PhysicalResourceId": "/aws/events/serverlesspressoEventBus",
            "ResourceStatus": "CREATE_COMPLETE",
            "ResourceType": "AWS::Logs::LogGroup",
            "StackId": "arn:aws:cloudformation:<region>:111111111111:stack/ServerlesspressoStack/b2133d70-53b7-11ee-8350-12a8386ef723",
            "StackName": "ServerlesspressoStack",
            "Timestamp": "timestamp"
          },
          {
            "DriftInformation": {
              "StackResourceDriftStatus": "NOT_CHECKED"
            },
            "LogicalResourceId": "GetIoTEndpointFunction5DE30FEA",
            "PhysicalResourceId": "ServerlesspressoStack-GetIoTEndpointFunction5DE30F-Z9eQZS56H8bm",
            "ResourceStatus": "CREATE_COMPLETE",
            "ResourceType": "AWS::Lambda::Function",
            "StackId": "arn:aws:cloudformation:<region>:111111111111:stack/ServerlesspressoStack/b2133d70-53b7-11ee-8350-12a8386ef723",
            "StackName": "ServerlesspressoStack",
            "Timestamp": "timestamp"
          },
          {
            "DriftInformation": {
              "StackResourceDriftStatus": "NOT_CHECKED"
            },
            "LogicalResourceId": "GetIoTEndpointFunctionServiceRole51B8C97E",
            "PhysicalResourceId": "ServerlesspressoStack-GetIoTEndpointFunctionServic-1DLQN0Y3EGAXJ",
            "ResourceStatus": "CREATE_COMPLETE",
            "ResourceType": "AWS::IAM::Role",
            "StackId": "arn:aws:cloudformation:<region>:111111111111:stack/ServerlesspressoStack/b2133d70-53b7-11ee-8350-12a8386ef723",
            "StackName": "ServerlesspressoStack",
            "Timestamp": "timestamp"
          },
          {
            "DriftInformation": {
              "StackResourceDriftStatus": "NOT_CHECKED"
            },
            "LogicalResourceId": "GetIoTEndpointFunctionServiceRoleDefaultPolicyFEDCAA4E",
            "PhysicalResourceId": "Serve-GetIo-vzxob6kBghNd",
            "ResourceStatus": "CREATE_COMPLETE",
            "ResourceType": "AWS::IAM::Policy",
            "StackId": "arn:aws:cloudformation:<region>:111111111111:stack/ServerlesspressoStack/b2133d70-53b7-11ee-8350-12a8386ef723",
            "StackName": "ServerlesspressoStack",
            "Timestamp": "timestamp"
          },
          {
            "DriftInformation": {
              "StackResourceDriftStatus": "NOT_CHECKED"
            },
            "LogicalResourceId": "IoTRealtimeParameter4E793E0A",
            "PhysicalResourceId": "/Serverlesspresso/core/realtime",
            "ResourceStatus": "CREATE_COMPLETE",
            "ResourceType": "AWS::SSM::Parameter",
            "StackId": "arn:aws:cloudformation:<region>:111111111111:stack/ServerlesspressoStack/b2133d70-53b7-11ee-8350-12a8386ef723",
            "StackName": "ServerlesspressoStack",
            "Timestamp": "timestamp"
          },
          {
            "DriftInformation": {
              "StackResourceDriftStatus": "NOT_CHECKED"
            },
            "LogicalResourceId": "IotEndpoint",
            "PhysicalResourceId": "2023/09/15/[$LATEST]db07666bf8884fa188c0850fa0646b14",
            "ResourceStatus": "CREATE_COMPLETE",
            "ResourceType": "AWS::CloudFormation::CustomResource",
            "StackId": "arn:aws:cloudformation:<region>:111111111111:stack/ServerlesspressoStack/b2133d70-53b7-11ee-8350-12a8386ef723",
            "StackName": "ServerlesspressoStack",
            "Timestamp": "timestamp"
          },
          {
            "DriftInformation": {
              "StackResourceDriftStatus": "NOT_CHECKED"
            },
            "LogicalResourceId": "LogAllRule",
            "PhysicalResourceId": "Serverlesspresso|ServerlesspressoStack-LogAllRule-1H86UN20JFTRZ",
            "ResourceStatus": "CREATE_COMPLETE",
            "ResourceType": "AWS::Events::Rule",
            "StackId": "arn:aws:cloudformation:<region>:111111111111:stack/ServerlesspressoStack/b2133d70-53b7-11ee-8350-12a8386ef723",
            "StackName": "ServerlesspressoStack",
            "Timestamp": "timestamp"
          },
          {
            "DriftInformation": {
              "StackResourceDriftStatus": "NOT_CHECKED"
            },
            "LogicalResourceId": "OrderManagerServiceGetOrderByIdFunctionEE3AF4C1",
            "PhysicalResourceId": "ServerlesspressoStack-OrderManagerServiceGetOrderB-Ieuhs54poJvO",
            "ResourceStatus": "CREATE_COMPLETE",
            "ResourceType": "AWS::Lambda::Function",
            "StackId": "arn:aws:cloudformation:<region>:111111111111:stack/ServerlesspressoStack/b2133d70-53b7-11ee-8350-12a8386ef723",
            "StackName": "ServerlesspressoStack",
            "Timestamp": "timestamp"
          },
          {
            "DriftInformation": {
              "StackResourceDriftStatus": "NOT_CHECKED"
            },
            "LogicalResourceId": "OrderManagerServiceGetOrderByIdFunctionServiceRoleA913E420",
            "PhysicalResourceId": "ServerlesspressoStack-OrderManagerServiceGetOrderB-1NQD7HPUVPEM8",
            "ResourceStatus": "CREATE_COMPLETE",
            "ResourceType": "AWS::IAM::Role",
            "StackId": "arn:aws:cloudformation:<region>:111111111111:stack/ServerlesspressoStack/b2133d70-53b7-11ee-8350-12a8386ef723",
            "StackName": "ServerlesspressoStack",
            "Timestamp": "timestamp"
          },
          {
            "DriftInformation": {
              "StackResourceDriftStatus": "NOT_CHECKED"
            },
            "LogicalResourceId": "OrderManagerServiceOrderManagerStateMachineRoleB05D4222",
            "PhysicalResourceId": "ServerlesspressoStack-OrderManagerServiceOrderMana-1921XKY4OUQD3",
            "ResourceStatus": "CREATE_COMPLETE",
            "ResourceType": "AWS::IAM::Role",
            "StackId": "arn:aws:cloudformation:<region>:111111111111:stack/ServerlesspressoStack/b2133d70-53b7-11ee-8350-12a8386ef723",
            "StackName": "ServerlesspressoStack",
            "Timestamp": "timestamp"
          },
          {
            "DriftInformation": {
              "StackResourceDriftStatus": "NOT_CHECKED"
            },
            "LogicalResourceId": "OrderManagerServiceOrderManagerStateMachineRoleDefaultPolicy3EF4F643",
            "PhysicalResourceId": "Serve-Order-Z45zrrqM4BVV",
            "ResourceStatus": "CREATE_COMPLETE",
            "ResourceType": "AWS::IAM::Policy",
            "StackId": "arn:aws:cloudformation:<region>:111111111111:stack/ServerlesspressoStack/b2133d70-53b7-11ee-8350-12a8386ef723",
            "StackName": "ServerlesspressoStack",
            "Timestamp": "timestamp"
          },
          {
            "DriftInformation": {
              "StackResourceDriftStatus": "NOT_CHECKED"
            },
            "LogicalResourceId": "OrderManagerServiceOrderTableBBA598CB",
            "PhysicalResourceId": "serverlesspresso-order-table",
            "ResourceStatus": "CREATE_COMPLETE",
            "ResourceType": "AWS::DynamoDB::Table",
            "StackId": "arn:aws:cloudformation:<region>:111111111111:stack/ServerlesspressoStack/b2133d70-53b7-11ee-8350-12a8386ef723",
            "StackName": "ServerlesspressoStack",
            "Timestamp": "timestamp"
          },
          {
            "DriftInformation": {
              "StackResourceDriftStatus": "NOT_CHECKED"
            },
            "LogicalResourceId": "OrderManagerServiceRESTApiForOrderManager03927D4C",
            "PhysicalResourceId": "v5prt2egyi",
            "ResourceStatus": "CREATE_COMPLETE",
            "ResourceType": "AWS::ApiGateway::RestApi",
            "StackId": "arn:aws:cloudformation:<region>:111111111111:stack/ServerlesspressoStack/b2133d70-53b7-11ee-8350-12a8386ef723",
            "StackName": "ServerlesspressoStack",
            "Timestamp": "timestamp"
          },
          {
            "DriftInformation": {
              "StackResourceDriftStatus": "NOT_CHECKED"
            },
            "LogicalResourceId": "OrderManagerServiceSanitizeOrderLambdaB71F1F12",
            "PhysicalResourceId": "ServerlesspressoStack-OrderManagerServiceSanitizeO-DPJBTrAFXC9b",
            "ResourceStatus": "CREATE_COMPLETE",
            "ResourceType": "AWS::Lambda::Function",
            "StackId": "arn:aws:cloudformation:<region>:111111111111:stack/ServerlesspressoStack/b2133d70-53b7-11ee-8350-12a8386ef723",
            "StackName": "ServerlesspressoStack",
            "Timestamp": "timestamp"
          },
          {
            "DriftInformation": {
              "StackResourceDriftStatus": "NOT_CHECKED"
            },
            "LogicalResourceId": "OrderManagerServiceSanitizeOrderLambdaServiceRole0959499C",
            "PhysicalResourceId": "ServerlesspressoStack-OrderManagerServiceSanitizeO-A5GGRYMSE9Y",
            "ResourceStatus": "CREATE_COMPLETE",
            "ResourceType": "AWS::IAM::Role",
            "StackId": "arn:aws:cloudformation:<region>:111111111111:stack/ServerlesspressoStack/b2133d70-53b7-11ee-8350-12a8386ef723",
            "StackName": "ServerlesspressoStack",
            "Timestamp": "timestamp"
          },
          {
            "DriftInformation": {
              "StackResourceDriftStatus": "NOT_CHECKED"
            },
            "LogicalResourceId": "OrderManagerServiceValidatorNewOrderFunctionCE5DF2C7",
            "PhysicalResourceId": "ServerlesspressoStack-OrderManagerServiceValidator-ZP5T26QUFDpW",
            "ResourceStatus": "CREATE_COMPLETE",
            "ResourceType": "AWS::Lambda::Function",
            "StackId": "arn:aws:cloudformation:<region>:111111111111:stack/ServerlesspressoStack/b2133d70-53b7-11ee-8350-12a8386ef723",
            "StackName": "ServerlesspressoStack",
            "Timestamp": "timestamp"
          },
          {
            "DriftInformation": {
              "StackResourceDriftStatus": "NOT_CHECKED"
            },
            "LogicalResourceId": "OrderManagerServiceValidatorNewOrderFunctionServiceRoleAAA14FE5",
            "PhysicalResourceId": "ServerlesspressoStack-OrderManagerServiceValidator-1GY1F7S5296TD",
            "ResourceStatus": "CREATE_COMPLETE",
            "ResourceType": "AWS::IAM::Role",
            "StackId": "arn:aws:cloudformation:<region>:111111111111:stack/ServerlesspressoStack/b2133d70-53b7-11ee-8350-12a8386ef723",
            "StackName": "ServerlesspressoStack",
            "Timestamp": "timestamp"
          },
          {
            "DriftInformation": {
              "StackResourceDriftStatus": "NOT_CHECKED"
            },
            "LogicalResourceId": "OrderManagerServiceValidatorNewOrderFunctionServiceRoleDefaultPolicy2880B3D1",
            "PhysicalResourceId": "Serve-Order-HezaTi5nfj60",
            "ResourceStatus": "CREATE_COMPLETE",
            "ResourceType": "AWS::IAM::Policy",
            "StackId": "arn:aws:cloudformation:<region>:111111111111:stack/ServerlesspressoStack/b2133d70-53b7-11ee-8350-12a8386ef723",
            "StackName": "ServerlesspressoStack",
            "Timestamp": "timestamp"
          },
          {
            "DriftInformation": {
              "StackResourceDriftStatus": "NOT_CHECKED"
            },
            "LogicalResourceId": "OrderManagerServiceWaitingCompletionFC252249",
            "PhysicalResourceId": "ServerlesspressoStack-OrderManagerServiceWaitingCo-2r3y4Fs3xtyc",
            "ResourceStatus": "CREATE_COMPLETE",
            "ResourceType": "AWS::Lambda::Function",
            "StackId": "arn:aws:cloudformation:<region>:111111111111:stack/ServerlesspressoStack/b2133d70-53b7-11ee-8350-12a8386ef723",
            "StackName": "ServerlesspressoStack",
            "Timestamp": "timestamp"
          },
          {
            "DriftInformation": {
              "StackResourceDriftStatus": "NOT_CHECKED"
            },
            "LogicalResourceId": "OrderManagerServiceWaitingCompletionServiceRoleD67A7CEC",
            "PhysicalResourceId": "ServerlesspressoStack-OrderManagerServiceWaitingCo-19KI05DINK78N",
            "ResourceStatus": "CREATE_COMPLETE",
            "ResourceType": "AWS::IAM::Role",
            "StackId": "arn:aws:cloudformation:<region>:111111111111:stack/ServerlesspressoStack/b2133d70-53b7-11ee-8350-12a8386ef723",
            "StackName": "ServerlesspressoStack",
            "Timestamp": "timestamp"
          },
          {
            "DriftInformation": {
              "StackResourceDriftStatus": "NOT_CHECKED"
            },
            "LogicalResourceId": "OrderManagerServiceWaitingCompletionServiceRoleDefaultPolicy2D83E2B9",
            "PhysicalResourceId": "Serve-Order-vGX35OVbkZRj",
            "ResourceStatus": "CREATE_COMPLETE",
            "ResourceType": "AWS::IAM::Policy",
            "StackId": "arn:aws:cloudformation:<region>:111111111111:stack/ServerlesspressoStack/b2133d70-53b7-11ee-8350-12a8386ef723",
            "StackName": "ServerlesspressoStack",
            "Timestamp": "timestamp"
          },
          {
            "DriftInformation": {
              "StackResourceDriftStatus": "NOT_CHECKED"
            },
            "LogicalResourceId": "OrderManagerServiceWorkFlowStartedD012DE68",
            "PhysicalResourceId": "ServerlesspressoStack-OrderManagerServiceWorkFlowS-d1pJ0iQ3B8yf",
            "ResourceStatus": "CREATE_COMPLETE",
            "ResourceType": "AWS::Lambda::Function",
            "StackId": "arn:aws:cloudformation:<region>:111111111111:stack/ServerlesspressoStack/b2133d70-53b7-11ee-8350-12a8386ef723",
            "StackName": "ServerlesspressoStack",
            "Timestamp": "timestamp"
          },
          {
            "DriftInformation": {
              "StackResourceDriftStatus": "NOT_CHECKED"
            },
            "LogicalResourceId": "OrderManagerServiceWorkFlowStartedServiceRoleDefaultPolicy219C0FF0",
            "PhysicalResourceId": "Serve-Order-Zeey4c5zG0dk",
            "ResourceStatus": "CREATE_COMPLETE",
            "ResourceType": "AWS::IAM::Policy",
            "StackId": "arn:aws:cloudformation:<region>:111111111111:stack/ServerlesspressoStack/b2133d70-53b7-11ee-8350-12a8386ef723",
            "StackName": "ServerlesspressoStack",
            "Timestamp": "timestamp"
          },
          {
            "DriftInformation": {
              "StackResourceDriftStatus": "NOT_CHECKED"
            },
            "LogicalResourceId": "OrderManagerServiceWorkFlowStartedServiceRoleFAD459E3",
            "PhysicalResourceId": "ServerlesspressoStack-OrderManagerServiceWorkFlowS-151PLPOYC26US",
            "ResourceStatus": "CREATE_COMPLETE",
            "ResourceType": "AWS::IAM::Role",
            "StackId": "arn:aws:cloudformation:<region>:111111111111:stack/ServerlesspressoStack/b2133d70-53b7-11ee-8350-12a8386ef723",
            "StackName": "ServerlesspressoStack",
            "Timestamp": "timestamp"
          },
          {
            "DriftInformation": {
              "StackResourceDriftStatus": "NOT_CHECKED"
            },
            "LogicalResourceId": "OrderManagerStateMachine",
            "PhysicalResourceId": "arn:aws:states:<region>:111111111111:stateMachine:OrderManagerStateMachine-FvVtvaWwVojF",
            "ResourceStatus": "CREATE_COMPLETE",
            "ResourceType": "AWS::StepFunctions::StateMachine",
            "StackId": "arn:aws:cloudformation:<region>:111111111111:stack/ServerlesspressoStack/b2133d70-53b7-11ee-8350-12a8386ef723",
            "StackName": "ServerlesspressoStack",
            "Timestamp": "timestamp"
          },
          {
            "DriftInformation": {
              "StackResourceDriftStatus": "NOT_CHECKED"
            },
            "LogicalResourceId": "OrderProcessorServiceNewOrder4E49E343",
            "PhysicalResourceId": "Serverlesspresso|ServerlesspressoStack-OrderProcessorServiceNewOrde-1HAMKK5UIEZTF",
            "ResourceStatus": "CREATE_COMPLETE",
            "ResourceType": "AWS::Events::Rule",
            "StackId": "arn:aws:cloudformation:<region>:111111111111:stack/ServerlesspressoStack/b2133d70-53b7-11ee-8350-12a8386ef723",
            "StackName": "ServerlesspressoStack",
            "Timestamp": "timestamp"
          },
          {
            "DriftInformation": {
              "StackResourceDriftStatus": "NOT_CHECKED"
            },
            "LogicalResourceId": "OrderProcessorServiceOrderProcessorWorkflow0C0BFC49",
            "PhysicalResourceId": "arn:aws:states:<region>:111111111111:stateMachine:OrderProcessorWorkflow",
            "ResourceStatus": "CREATE_COMPLETE",
            "ResourceType": "AWS::StepFunctions::StateMachine",
            "StackId": "arn:aws:cloudformation:<region>:111111111111:stack/ServerlesspressoStack/b2133d70-53b7-11ee-8350-12a8386ef723",
            "StackName": "ServerlesspressoStack",
            "Timestamp": "timestamp"
          },
          {
            "DriftInformation": {
              "StackResourceDriftStatus": "NOT_CHECKED"
            },
            "LogicalResourceId": "OrderProcessorServiceOrderProcessorWorkflowEventsRole4BC3B8D3",
            "PhysicalResourceId": "ServerlesspressoStack-OrderProcessorServiceOrderPr-7APJJ4ASD8R9",
            "ResourceStatus": "CREATE_COMPLETE",
            "ResourceType": "AWS::IAM::Role",
            "StackId": "arn:aws:cloudformation:<region>:111111111111:stack/ServerlesspressoStack/b2133d70-53b7-11ee-8350-12a8386ef723",
            "StackName": "ServerlesspressoStack",
            "Timestamp": "timestamp"
          },
          {
            "DriftInformation": {
              "StackResourceDriftStatus": "NOT_CHECKED"
            },
            "LogicalResourceId": "OrderProcessorServiceOrderProcessorWorkflowEventsRoleDefaultPolicyB76D09DC",
            "PhysicalResourceId": "Serve-Order-9l7xEprGEEs7",
            "ResourceStatus": "CREATE_COMPLETE",
            "ResourceType": "AWS::IAM::Policy",
            "StackId": "arn:aws:cloudformation:<region>:111111111111:stack/ServerlesspressoStack/b2133d70-53b7-11ee-8350-12a8386ef723",
            "StackName": "ServerlesspressoStack",
            "Timestamp": "timestamp"
          },
          {
            "DriftInformation": {
              "StackResourceDriftStatus": "NOT_CHECKED"
            },
            "LogicalResourceId": "OrderProcessorServiceOrderProcessorWorkflowRole021AE0D2",
            "PhysicalResourceId": "ServerlesspressoStack-OrderProcessorServiceOrderPr-1NXOTO5D0HE3Y",
            "ResourceStatus": "CREATE_COMPLETE",
            "ResourceType": "AWS::IAM::Role",
            "StackId": "arn:aws:cloudformation:<region>:111111111111:stack/ServerlesspressoStack/b2133d70-53b7-11ee-8350-12a8386ef723",
            "StackName": "ServerlesspressoStack",
            "Timestamp": "timestamp"
          },
          {
            "DriftInformation": {
              "StackResourceDriftStatus": "NOT_CHECKED"
            },
            "LogicalResourceId": "OrderProcessorServiceOrderProcessorWorkflowRoleDefaultPolicy9FD87A7D",
            "PhysicalResourceId": "Serve-Order-tiCJY8H96Iak",
            "ResourceStatus": "CREATE_COMPLETE",
            "ResourceType": "AWS::IAM::Policy",
            "StackId": "arn:aws:cloudformation:<region>:111111111111:stack/ServerlesspressoStack/b2133d70-53b7-11ee-8350-12a8386ef723",
            "StackName": "ServerlesspressoStack",
            "Timestamp": "timestamp"
          },
          {
            "DriftInformation": {
              "StackResourceDriftStatus": "NOT_CHECKED"
            },
            "LogicalResourceId": "OrderProcessorServiceWorkflowStartedAllowEventRuleServerlesspressoStackOrderManagerServiceWorkFlowStarted62E548D6F96F1AA5",
            "PhysicalResourceId": "ServerlesspressoStack-OrderProcessorServiceWorkflowStartedAllowEventRuleServerlesspress-mZ3qlvg5M2a8",
            "ResourceStatus": "CREATE_COMPLETE",
            "ResourceType": "AWS::Lambda::Permission",
            "StackId": "arn:aws:cloudformation:<region>:111111111111:stack/ServerlesspressoStack/b2133d70-53b7-11ee-8350-12a8386ef723",
            "StackName": "ServerlesspressoStack",
            "Timestamp": "timestamp"
          },
          {
            "DriftInformation": {
              "StackResourceDriftStatus": "NOT_CHECKED"
            },
            "LogicalResourceId": "OrderProcessorServiceWorkflowStartedB6F0114D",
            "PhysicalResourceId": "Serverlesspresso|ServerlesspressoStack-OrderProcessorServiceWorkflo-1HDPHB8FZ4E85",
            "ResourceStatus": "CREATE_COMPLETE",
            "ResourceType": "AWS::Events::Rule",
            "StackId": "arn:aws:cloudformation:<region>:111111111111:stack/ServerlesspressoStack/b2133d70-53b7-11ee-8350-12a8386ef723",
            "StackName": "ServerlesspressoStack",
            "Timestamp": "timestamp"
          },
          {
            "DriftInformation": {
              "StackResourceDriftStatus": "NOT_CHECKED"
            },
            "LogicalResourceId": "PopulateDbFnECBC3588",
            "PhysicalResourceId": "ServerlesspressoStack-PopulateDbFnECBC3588-ab759D6lIT6r",
            "ResourceStatus": "CREATE_COMPLETE",
            "ResourceType": "AWS::Lambda::Function",
            "StackId": "arn:aws:cloudformation:<region>:111111111111:stack/ServerlesspressoStack/b2133d70-53b7-11ee-8350-12a8386ef723",
            "StackName": "ServerlesspressoStack",
            "Timestamp": "timestamp"
          },
          {
            "DriftInformation": {
              "StackResourceDriftStatus": "NOT_CHECKED"
            },
            "LogicalResourceId": "PopulateDbFnServiceRoleB4CF4518",
            "PhysicalResourceId": "ServerlesspressoStack-PopulateDbFnServiceRoleB4CF4-CX7E0CRCC6ZX",
            "ResourceStatus": "CREATE_COMPLETE",
            "ResourceType": "AWS::IAM::Role",
            "StackId": "arn:aws:cloudformation:<region>:111111111111:stack/ServerlesspressoStack/b2133d70-53b7-11ee-8350-12a8386ef723",
            "StackName": "ServerlesspressoStack",
            "Timestamp": "timestamp"
          },
          {
            "DriftInformation": {
              "StackResourceDriftStatus": "NOT_CHECKED"
            },
            "LogicalResourceId": "PopulateDbFnServiceRoleDefaultPolicy8B14EE23",
            "PhysicalResourceId": "Serve-Popul-ygvvwNXWqKGZ",
            "ResourceStatus": "CREATE_COMPLETE",
            "ResourceType": "AWS::IAM::Policy",
            "StackId": "arn:aws:cloudformation:<region>:111111111111:stack/ServerlesspressoStack/b2133d70-53b7-11ee-8350-12a8386ef723",
            "StackName": "ServerlesspressoStack",
            "Timestamp": "timestamp"
          },
          {
            "DriftInformation": {
              "StackResourceDriftStatus": "NOT_CHECKED"
            },
            "LogicalResourceId": "PublisherServiceAdminTriggerRuleAllowEventRuleServerlesspressoStackPublisherServicePublisherFunctionAdmin1D5C595A6147D771",
            "PhysicalResourceId": "ServerlesspressoStack-PublisherServiceAdminTriggerRuleAllowEventRuleServerlesspressoSta-spDCN9VQWdOH",
            "ResourceStatus": "CREATE_COMPLETE",
            "ResourceType": "AWS::Lambda::Permission",
            "StackId": "arn:aws:cloudformation:<region>:111111111111:stack/ServerlesspressoStack/b2133d70-53b7-11ee-8350-12a8386ef723",
            "StackName": "ServerlesspressoStack",
            "Timestamp": "timestamp"
          },
          {
            "DriftInformation": {
              "StackResourceDriftStatus": "NOT_CHECKED"
            },
            "LogicalResourceId": "PublisherServiceAdminTriggerRuleF3819C56",
            "PhysicalResourceId": "Serverlesspresso|ServerlesspressoStack-PublisherServiceAdminTrigger-1K54EMBLW7Q70",
            "ResourceStatus": "CREATE_COMPLETE",
            "ResourceType": "AWS::Events::Rule",
            "StackId": "arn:aws:cloudformation:<region>:111111111111:stack/ServerlesspressoStack/b2133d70-53b7-11ee-8350-12a8386ef723",
            "StackName": "ServerlesspressoStack",
            "Timestamp": "timestamp"
          },
          {
            "DriftInformation": {
              "StackResourceDriftStatus": "NOT_CHECKED"
            },
            "LogicalResourceId": "PublisherServiceOrderManagerEvents229DA4C1",
            "PhysicalResourceId": "Serverlesspresso|ServerlesspressoStack-PublisherServiceOrderManager-12CPXQC6UHFJG",
            "ResourceStatus": "CREATE_COMPLETE",
            "ResourceType": "AWS::Events::Rule",
            "StackId": "arn:aws:cloudformation:<region>:111111111111:stack/ServerlesspressoStack/b2133d70-53b7-11ee-8350-12a8386ef723",
            "StackName": "ServerlesspressoStack",
            "Timestamp": "timestamp"
          },
          {
            "DriftInformation": {
              "StackResourceDriftStatus": "NOT_CHECKED"
            },
            "LogicalResourceId": "PublisherServiceOrderManagerEventsAllowEventRuleServerlesspressoStackPublisherServicePublisherFunctionUser0EF82A454E02AE52",
            "PhysicalResourceId": "ServerlesspressoStack-PublisherServiceOrderManagerEventsAllowEventRuleServerlesspressoS-PWg4r7y4rETI",
            "ResourceStatus": "CREATE_COMPLETE",
            "ResourceType": "AWS::Lambda::Permission",
            "StackId": "arn:aws:cloudformation:<region>:111111111111:stack/ServerlesspressoStack/b2133d70-53b7-11ee-8350-12a8386ef723",
            "StackName": "ServerlesspressoStack",
            "Timestamp": "timestamp"
          },
          {
            "DriftInformation": {
              "StackResourceDriftStatus": "NOT_CHECKED"
            },
            "LogicalResourceId": "PublisherServiceOrderProcessorEvents0F679C1F",
            "PhysicalResourceId": "Serverlesspresso|ServerlesspressoStack-PublisherServiceOrderProcess-YFEB31JGG7IN",
            "ResourceStatus": "CREATE_COMPLETE",
            "ResourceType": "AWS::Events::Rule",
            "StackId": "arn:aws:cloudformation:<region>:111111111111:stack/ServerlesspressoStack/b2133d70-53b7-11ee-8350-12a8386ef723",
            "StackName": "ServerlesspressoStack",
            "Timestamp": "timestamp"
          },
          {
            "DriftInformation": {
              "StackResourceDriftStatus": "NOT_CHECKED"
            },
            "LogicalResourceId": "PublisherServiceOrderProcessorEventsAllowEventRuleServerlesspressoStackPublisherServicePublisherFunctionUser0EF82A45AA1E83AE",
            "PhysicalResourceId": "ServerlesspressoStack-PublisherServiceOrderProcessorEventsAllowEventRuleServerlesspress-LtYNNEjUXLpT",
            "ResourceStatus": "CREATE_COMPLETE",
            "ResourceType": "AWS::Lambda::Permission",
            "StackId": "arn:aws:cloudformation:<region>:111111111111:stack/ServerlesspressoStack/b2133d70-53b7-11ee-8350-12a8386ef723",
            "StackName": "ServerlesspressoStack",
            "Timestamp": "timestamp"
          },
          {
            "DriftInformation": {
              "StackResourceDriftStatus": "NOT_CHECKED"
            },
            "LogicalResourceId": "PublisherServicePublisherFunctionAdmin226F35A2",
            "PhysicalResourceId": "ServerlesspressoStack-PublisherServicePublisherFun-rAjo3iDiwasz",
            "ResourceStatus": "CREATE_COMPLETE",
            "ResourceType": "AWS::Lambda::Function",
            "StackId": "arn:aws:cloudformation:<region>:111111111111:stack/ServerlesspressoStack/b2133d70-53b7-11ee-8350-12a8386ef723",
            "StackName": "ServerlesspressoStack",
            "Timestamp": "timestamp"
          },
          {
            "DriftInformation": {
              "StackResourceDriftStatus": "NOT_CHECKED"
            },
            "LogicalResourceId": "PublisherServicePublisherFunctionAdminServiceRole4601C4D9",
            "PhysicalResourceId": "ServerlesspressoStack-PublisherServicePublisherFun-C13OZV2SAW5L",
            "ResourceStatus": "CREATE_COMPLETE",
            "ResourceType": "AWS::IAM::Role",
            "StackId": "arn:aws:cloudformation:<region>:111111111111:stack/ServerlesspressoStack/b2133d70-53b7-11ee-8350-12a8386ef723",
            "StackName": "ServerlesspressoStack",
            "Timestamp": "timestamp"
          },
          {
            "DriftInformation": {
              "StackResourceDriftStatus": "NOT_CHECKED"
            },
            "LogicalResourceId": "PublisherServicePublisherFunctionAdminServiceRoleDefaultPolicy73CA1DD4",
            "PhysicalResourceId": "Serve-Publi-yG4rfJ37smG5",
            "ResourceStatus": "CREATE_COMPLETE",
            "ResourceType": "AWS::IAM::Policy",
            "StackId": "arn:aws:cloudformation:<region>:111111111111:stack/ServerlesspressoStack/b2133d70-53b7-11ee-8350-12a8386ef723",
            "StackName": "ServerlesspressoStack",
            "Timestamp": "timestamp"
          },
          {
            "DriftInformation": {
              "StackResourceDriftStatus": "NOT_CHECKED"
            },
            "LogicalResourceId": "PublisherServicePublisherFunctionConfig80C87C83",
            "PhysicalResourceId": "ServerlesspressoStack-PublisherServicePublisherFun-12Zwk44uul0C",
            "ResourceStatus": "CREATE_COMPLETE",
            "ResourceType": "AWS::Lambda::Function",
            "StackId": "arn:aws:cloudformation:<region>:111111111111:stack/ServerlesspressoStack/b2133d70-53b7-11ee-8350-12a8386ef723",
            "StackName": "ServerlesspressoStack",
            "Timestamp": "timestamp"
          },
          {
            "DriftInformation": {
              "StackResourceDriftStatus": "NOT_CHECKED"
            },
            "LogicalResourceId": "PublisherServicePublisherFunctionConfigServiceRoleAD16D3A0",
            "PhysicalResourceId": "ServerlesspressoStack-PublisherServicePublisherFun-5648V92QT80",
            "ResourceStatus": "CREATE_COMPLETE",
            "ResourceType": "AWS::IAM::Role",
            "StackId": "arn:aws:cloudformation:<region>:111111111111:stack/ServerlesspressoStack/b2133d70-53b7-11ee-8350-12a8386ef723",
            "StackName": "ServerlesspressoStack",
            "Timestamp": "timestamp"
          },
          {
            "DriftInformation": {
              "StackResourceDriftStatus": "NOT_CHECKED"
            },
            "LogicalResourceId": "PublisherServicePublisherFunctionConfigServiceRoleDefaultPolicy268A6115",
            "PhysicalResourceId": "Serve-Publi-SeZ55ZzKhSxK",
            "ResourceStatus": "CREATE_COMPLETE",
            "ResourceType": "AWS::IAM::Policy",
            "StackId": "arn:aws:cloudformation:<region>:111111111111:stack/ServerlesspressoStack/b2133d70-53b7-11ee-8350-12a8386ef723",
            "StackName": "ServerlesspressoStack",
            "Timestamp": "timestamp"
          },
          {
            "DriftInformation": {
              "StackResourceDriftStatus": "NOT_CHECKED"
            },
            "LogicalResourceId": "PublisherServicePublisherFunctionUserE00A536B",
            "PhysicalResourceId": "ServerlesspressoStack-PublisherServicePublisherFun-9wnUnJGRH8fR",
            "ResourceStatus": "CREATE_COMPLETE",
            "ResourceType": "AWS::Lambda::Function",
            "StackId": "arn:aws:cloudformation:<region>:111111111111:stack/ServerlesspressoStack/b2133d70-53b7-11ee-8350-12a8386ef723",
            "StackName": "ServerlesspressoStack",
            "Timestamp": "timestamp"
          },
          {
            "DriftInformation": {
              "StackResourceDriftStatus": "NOT_CHECKED"
            },
            "LogicalResourceId": "PublisherServicePublisherFunctionUserServiceRole712DF138",
            "PhysicalResourceId": "ServerlesspressoStack-PublisherServicePublisherFun-13G39OE2S1GXJ",
            "ResourceStatus": "CREATE_COMPLETE",
            "ResourceType": "AWS::IAM::Role",
            "StackId": "arn:aws:cloudformation:<region>:111111111111:stack/ServerlesspressoStack/b2133d70-53b7-11ee-8350-12a8386ef723",
            "StackName": "ServerlesspressoStack",
            "Timestamp": "timestamp"
          },
          {
            "DriftInformation": {
              "StackResourceDriftStatus": "NOT_CHECKED"
            },
            "LogicalResourceId": "PublisherServicePublisherFunctionUserServiceRoleDefaultPolicyBDE8B789",
            "PhysicalResourceId": "Serve-Publi-qai1bIIqj40n",
            "ResourceStatus": "CREATE_COMPLETE",
            "ResourceType": "AWS::IAM::Policy",
            "StackId": "arn:aws:cloudformation:<region>:111111111111:stack/ServerlesspressoStack/b2133d70-53b7-11ee-8350-12a8386ef723",
            "StackName": "ServerlesspressoStack",
            "Timestamp": "timestamp"
          },
          {
            "DriftInformation": {
              "StackResourceDriftStatus": "NOT_CHECKED"
            },
            "LogicalResourceId": "PublisherServiceTriggerValidatorAllowEventRuleServerlesspressoStackPublisherServicePublisherFunctionConfigBCB2EBFDAD8FF81D",
            "PhysicalResourceId": "ServerlesspressoStack-PublisherServiceTriggerValidatorAllowEventRuleServerlesspressoSta-AVI3FukTnb0O",
            "ResourceStatus": "CREATE_COMPLETE",
            "ResourceType": "AWS::Lambda::Permission",
            "StackId": "arn:aws:cloudformation:<region>:111111111111:stack/ServerlesspressoStack/b2133d70-53b7-11ee-8350-12a8386ef723",
            "StackName": "ServerlesspressoStack",
            "Timestamp": "timestamp"
          },
          {
            "DriftInformation": {
              "StackResourceDriftStatus": "NOT_CHECKED"
            },
            "LogicalResourceId": "PublisherServiceTriggerValidatorFEDE6986",
            "PhysicalResourceId": "Serverlesspresso|ServerlesspressoStack-PublisherServiceTriggerValid-1V2OYVIUS00VX",
            "ResourceStatus": "CREATE_COMPLETE",
            "ResourceType": "AWS::Events::Rule",
            "StackId": "arn:aws:cloudformation:<region>:111111111111:stack/ServerlesspressoStack/b2133d70-53b7-11ee-8350-12a8386ef723",
            "StackName": "ServerlesspressoStack",
            "Timestamp": "timestamp"
          },
          {
            "DriftInformation": {
              "StackResourceDriftStatus": "NOT_CHECKED"
            },
            "LogicalResourceId": "RESTApiRole",
            "PhysicalResourceId": "ServerlesspressoStack-RESTApiRole-1GWB7HODWD2FH",
            "ResourceStatus": "CREATE_COMPLETE",
            "ResourceType": "AWS::IAM::Role",
            "StackId": "arn:aws:cloudformation:<region>:111111111111:stack/ServerlesspressoStack/b2133d70-53b7-11ee-8350-12a8386ef723",
            "StackName": "ServerlesspressoStack",
            "Timestamp": "timestamp"
          },
          {
            "DriftInformation": {
              "StackResourceDriftStatus": "NOT_CHECKED"
            },
            "LogicalResourceId": "ServerlesspressoEventBus4F0AE0D8",
            "PhysicalResourceId": "Serverlesspresso",
            "ResourceStatus": "CREATE_COMPLETE",
            "ResourceType": "AWS::Events::EventBus",
            "StackId": "arn:aws:cloudformation:<region>:111111111111:stack/ServerlesspressoStack/b2133d70-53b7-11ee-8350-12a8386ef723",
            "StackName": "ServerlesspressoStack",
            "Timestamp": "timestamp"
          },
          {
            "DriftInformation": {
              "StackResourceDriftStatus": "NOT_CHECKED"
            },
            "LogicalResourceId": "ServerlesspressoRealtime",
            "PhysicalResourceId": "serverlesspresso-realtime-workshop",
            "ResourceStatus": "CREATE_COMPLETE",
            "ResourceType": "AWS::IoT::Thing",
            "StackId": "arn:aws:cloudformation:<region>:111111111111:stack/ServerlesspressoStack/b2133d70-53b7-11ee-8350-12a8386ef723",
            "StackName": "ServerlesspressoStack",
            "Timestamp": "timestamp"
          },
          {
            "DriftInformation": {
              "StackResourceDriftStatus": "NOT_CHECKED"
            },
            "LogicalResourceId": "UserPool",
            "PhysicalResourceId": "<region>_VblYXwlt3",
            "ResourceStatus": "CREATE_COMPLETE",
            "ResourceType": "AWS::Cognito::UserPool",
            "StackId": "arn:aws:cloudformation:<region>:111111111111:stack/ServerlesspressoStack/b2133d70-53b7-11ee-8350-12a8386ef723",
            "StackName": "ServerlesspressoStack",
            "Timestamp": "timestamp"
          },
          {
            "DriftInformation": {
              "StackResourceDriftStatus": "NOT_CHECKED"
            },
            "LogicalResourceId": "ValidatorServiceGetQRcodeFunctionB2637D0B",
            "PhysicalResourceId": "ServerlesspressoStack-ValidatorServiceGetQRcodeFun-ttieLe5mEQoQ",
            "ResourceStatus": "CREATE_COMPLETE",
            "ResourceType": "AWS::Lambda::Function",
            "StackId": "arn:aws:cloudformation:<region>:111111111111:stack/ServerlesspressoStack/b2133d70-53b7-11ee-8350-12a8386ef723",
            "StackName": "ServerlesspressoStack",
            "Timestamp": "timestamp"
          },
          {
            "DriftInformation": {
              "StackResourceDriftStatus": "NOT_CHECKED"
            },
            "LogicalResourceId": "ValidatorServiceGetQRcodeFunctionServiceRoleD6D4A0E9",
            "PhysicalResourceId": "ServerlesspressoStack-ValidatorServiceGetQRcodeFun-RDQ1VMFIH6HI",
            "ResourceStatus": "CREATE_COMPLETE",
            "ResourceType": "AWS::IAM::Role",
            "StackId": "arn:aws:cloudformation:<region>:111111111111:stack/ServerlesspressoStack/b2133d70-53b7-11ee-8350-12a8386ef723",
            "StackName": "ServerlesspressoStack",
            "Timestamp": "timestamp"
          },
          {
            "DriftInformation": {
              "StackResourceDriftStatus": "NOT_CHECKED"
            },
            "LogicalResourceId": "ValidatorServiceGetQRcodeFunctionServiceRoleDefaultPolicyA8D6892D",
            "PhysicalResourceId": "Serve-Valid-wlKTgGKkpRx2",
            "ResourceStatus": "CREATE_COMPLETE",
            "ResourceType": "AWS::IAM::Policy",
            "StackId": "arn:aws:cloudformation:<region>:111111111111:stack/ServerlesspressoStack/b2133d70-53b7-11ee-8350-12a8386ef723",
            "StackName": "ServerlesspressoStack",
            "Timestamp": "timestamp"
          },
          {
            "DriftInformation": {
              "StackResourceDriftStatus": "NOT_CHECKED"
            },
            "LogicalResourceId": "ValidatorServiceMyCognitoAuthorizor77B122C1",
            "PhysicalResourceId": "kkcm1s",
            "ResourceStatus": "CREATE_COMPLETE",
            "ResourceType": "AWS::ApiGateway::Authorizer",
            "StackId": "arn:aws:cloudformation:<region>:111111111111:stack/ServerlesspressoStack/b2133d70-53b7-11ee-8350-12a8386ef723",
            "StackName": "ServerlesspressoStack",
            "Timestamp": "timestamp"
          },
          {
            "DriftInformation": {
              "StackResourceDriftStatus": "NOT_CHECKED"
            },
            "LogicalResourceId": "ValidatorServiceRESTApiValidatorService2534BF48",
            "PhysicalResourceId": "a2in89q4pb",
            "ResourceStatus": "CREATE_COMPLETE",
            "ResourceType": "AWS::ApiGateway::RestApi",
            "StackId": "arn:aws:cloudformation:<region>:111111111111:stack/ServerlesspressoStack/b2133d70-53b7-11ee-8350-12a8386ef723",
            "StackName": "ServerlesspressoStack",
            "Timestamp": "timestamp"
          },
          {
            "DriftInformation": {
              "StackResourceDriftStatus": "NOT_CHECKED"
            },
            "LogicalResourceId": "ValidatorServiceRESTApiValidatorServiceAccount37CF6408",
            "PhysicalResourceId": "Server-Valid-gIbCRkCsLztY",
            "ResourceStatus": "CREATE_COMPLETE",
            "ResourceType": "AWS::ApiGateway::Account",
            "StackId": "arn:aws:cloudformation:<region>:111111111111:stack/ServerlesspressoStack/b2133d70-53b7-11ee-8350-12a8386ef723",
            "StackName": "ServerlesspressoStack",
            "Timestamp": "timestamp"
          },
          {
            "DriftInformation": {
              "StackResourceDriftStatus": "NOT_CHECKED"
            },
            "LogicalResourceId": "ValidatorServiceRESTApiValidatorServiceCloudWatchRoleC3085C07",
            "PhysicalResourceId": "ServerlesspressoStack-ValidatorServiceRESTApiValid-176XN0IZK6IQJ",
            "ResourceStatus": "CREATE_COMPLETE",
            "ResourceType": "AWS::IAM::Role",
            "StackId": "arn:aws:cloudformation:<region>:111111111111:stack/ServerlesspressoStack/b2133d70-53b7-11ee-8350-12a8386ef723",
            "StackName": "ServerlesspressoStack",
            "Timestamp": "timestamp"
          },
          {
            "DriftInformation": {
              "StackResourceDriftStatus": "NOT_CHECKED"
            },
            "LogicalResourceId": "ValidatorServiceRESTApiValidatorServiceDeployment401B884938f32cda5ad490fd564b1b9358b6403f",
            "PhysicalResourceId": "0v9xwg",
            "ResourceStatus": "CREATE_COMPLETE",
            "ResourceType": "AWS::ApiGateway::Deployment",
            "StackId": "arn:aws:cloudformation:<region>:111111111111:stack/ServerlesspressoStack/b2133d70-53b7-11ee-8350-12a8386ef723",
            "StackName": "ServerlesspressoStack",
            "Timestamp": "timestamp"
          },
          {
            "DriftInformation": {
              "StackResourceDriftStatus": "NOT_CHECKED"
            },
            "LogicalResourceId": "ValidatorServiceRESTApiValidatorServiceDeploymentStageprod0D251F60",
            "PhysicalResourceId": "prod",
            "ResourceStatus": "CREATE_COMPLETE",
            "ResourceType": "AWS::ApiGateway::Stage",
            "StackId": "arn:aws:cloudformation:<region>:111111111111:stack/ServerlesspressoStack/b2133d70-53b7-11ee-8350-12a8386ef723",
            "StackName": "ServerlesspressoStack",
            "Timestamp": "timestamp"
          },
          {
            "DriftInformation": {
              "StackResourceDriftStatus": "NOT_CHECKED"
            },
            "LogicalResourceId": "ValidatorServiceRESTApiValidatorServiceOPTIONS994A63FE",
            "PhysicalResourceId": "Serve-Valid-17S559AC4TJZO",
            "ResourceStatus": "CREATE_COMPLETE",
            "ResourceType": "AWS::ApiGateway::Method",
            "StackId": "arn:aws:cloudformation:<region>:111111111111:stack/ServerlesspressoStack/b2133d70-53b7-11ee-8350-12a8386ef723",
            "StackName": "ServerlesspressoStack",
            "Timestamp": "timestamp"
          },
          {
            "DriftInformation": {
              "StackResourceDriftStatus": "NOT_CHECKED"
            },
            "LogicalResourceId": "ValidatorServiceRESTApiValidatorServiceqrcodeF4927AB9",
            "PhysicalResourceId": "59n2ar",
            "ResourceStatus": "CREATE_COMPLETE",
            "ResourceType": "AWS::ApiGateway::Resource",
            "StackId": "arn:aws:cloudformation:<region>:111111111111:stack/ServerlesspressoStack/b2133d70-53b7-11ee-8350-12a8386ef723",
            "StackName": "ServerlesspressoStack",
            "Timestamp": "timestamp"
          },
          {
            "DriftInformation": {
              "StackResourceDriftStatus": "NOT_CHECKED"
            },
            "LogicalResourceId": "ValidatorServiceRESTApiValidatorServiceqrcodeGET0B5A6E5E",
            "PhysicalResourceId": "Serve-Valid-XXKCJGN5NUFJ",
            "ResourceStatus": "CREATE_COMPLETE",
            "ResourceType": "AWS::ApiGateway::Method",
            "StackId": "arn:aws:cloudformation:<region>:111111111111:stack/ServerlesspressoStack/b2133d70-53b7-11ee-8350-12a8386ef723",
            "StackName": "ServerlesspressoStack",
            "Timestamp": "timestamp"
          },
          {
            "DriftInformation": {
              "StackResourceDriftStatus": "NOT_CHECKED"
            },
            "LogicalResourceId": "ValidatorServiceRESTApiValidatorServiceqrcodeGETApiPermissionServerlesspressoStackValidatorServiceRESTApiValidatorServiceA4AB4D15GETqrcode499175C1",
            "PhysicalResourceId": "ServerlesspressoStack-ValidatorServiceRESTApiValidatorServiceqrcodeGETApiPermissionServ-PgAIdmh1w3am",
            "ResourceStatus": "CREATE_COMPLETE",
            "ResourceType": "AWS::Lambda::Permission",
            "StackId": "arn:aws:cloudformation:<region>:111111111111:stack/ServerlesspressoStack/b2133d70-53b7-11ee-8350-12a8386ef723",
            "StackName": "ServerlesspressoStack",
            "Timestamp": "timestamp"
          },
          {
            "DriftInformation": {
              "StackResourceDriftStatus": "NOT_CHECKED"
            },
            "LogicalResourceId": "ValidatorServiceRESTApiValidatorServiceqrcodeGETApiPermissionTestServerlesspressoStackValidatorServiceRESTApiValidatorServiceA4AB4D15GETqrcode714F7094",
            "PhysicalResourceId": "ServerlesspressoStack-ValidatorServiceRESTApiValidatorServiceqrcodeGETApiPermissionTest-QIaWGymlNNJQ",
            "ResourceStatus": "CREATE_COMPLETE",
            "ResourceType": "AWS::Lambda::Permission",
            "StackId": "arn:aws:cloudformation:<region>:111111111111:stack/ServerlesspressoStack/b2133d70-53b7-11ee-8350-12a8386ef723",
            "StackName": "ServerlesspressoStack",
            "Timestamp": "timestamp"
          },
          {
            "DriftInformation": {
              "StackResourceDriftStatus": "NOT_CHECKED"
            },
            "LogicalResourceId": "ValidatorServiceRESTApiValidatorServiceqrcodeOPTIONS8B95B911",
            "PhysicalResourceId": "Serve-Valid-WY87AKKG6WXB",
            "ResourceStatus": "CREATE_COMPLETE",
            "ResourceType": "AWS::ApiGateway::Method",
            "StackId": "arn:aws:cloudformation:<region>:111111111111:stack/ServerlesspressoStack/b2133d70-53b7-11ee-8350-12a8386ef723",
            "StackName": "ServerlesspressoStack",
            "Timestamp": "timestamp"
          },
          {
            "DriftInformation": {
              "StackResourceDriftStatus": "NOT_CHECKED"
            },
            "LogicalResourceId": "ValidatorServiceRESTApiValidatorServiceqrcodePOST5C3ECBB0",
            "PhysicalResourceId": "Serve-Valid-BDU4OXTZTES2",
            "ResourceStatus": "CREATE_COMPLETE",
            "ResourceType": "AWS::ApiGateway::Method",
            "StackId": "arn:aws:cloudformation:<region>:111111111111:stack/ServerlesspressoStack/b2133d70-53b7-11ee-8350-12a8386ef723",
            "StackName": "ServerlesspressoStack",
            "Timestamp": "timestamp"
          },
          {
            "DriftInformation": {
              "StackResourceDriftStatus": "NOT_CHECKED"
            },
            "LogicalResourceId": "ValidatorServiceRESTApiValidatorServiceqrcodePOSTApiPermissionServerlesspressoStackValidatorServiceRESTApiValidatorServiceA4AB4D15POSTqrcode76DAB910",
            "PhysicalResourceId": "ServerlesspressoStack-ValidatorServiceRESTApiValidatorServiceqrcodePOSTApiPermissionSer-SxvqeY4LwS7L",
            "ResourceStatus": "CREATE_COMPLETE",
            "ResourceType": "AWS::Lambda::Permission",
            "StackId": "arn:aws:cloudformation:<region>:111111111111:stack/ServerlesspressoStack/b2133d70-53b7-11ee-8350-12a8386ef723",
            "StackName": "ServerlesspressoStack",
            "Timestamp": "timestamp"
          },
          {
            "DriftInformation": {
              "StackResourceDriftStatus": "NOT_CHECKED"
            },
            "LogicalResourceId": "ValidatorServiceRESTApiValidatorServiceqrcodePOSTApiPermissionTestServerlesspressoStackValidatorServiceRESTApiValidatorServiceA4AB4D15POSTqrcode3A267582",
            "PhysicalResourceId": "ServerlesspressoStack-ValidatorServiceRESTApiValidatorServiceqrcodePOSTApiPermissionTes-ZcM3rIIwmoSr",
            "ResourceStatus": "CREATE_COMPLETE",
            "ResourceType": "AWS::Lambda::Permission",
            "StackId": "arn:aws:cloudformation:<region>:111111111111:stack/ServerlesspressoStack/b2133d70-53b7-11ee-8350-12a8386ef723",
            "StackName": "ServerlesspressoStack",
            "Timestamp": "timestamp"
          },
          {
            "DriftInformation": {
              "StackResourceDriftStatus": "NOT_CHECKED"
            },
            "LogicalResourceId": "ValidatorServiceValidatorTable7D2B03D6",
            "PhysicalResourceId": "serverlesspresso-validator-table",
            "ResourceStatus": "CREATE_COMPLETE",
            "ResourceType": "AWS::DynamoDB::Table",
            "StackId": "arn:aws:cloudformation:<region>:111111111111:stack/ServerlesspressoStack/b2133d70-53b7-11ee-8350-12a8386ef723",
            "StackName": "ServerlesspressoStack",
            "Timestamp": "timestamp"
          },
          {
            "DriftInformation": {
              "StackResourceDriftStatus": "NOT_CHECKED"
            },
            "LogicalResourceId": "ValidatorServiceVerifyQRcodeFunctionE764124F",
            "PhysicalResourceId": "ServerlesspressoStack-ValidatorServiceVerifyQRcode-3vFhbo94ZZUo",
            "ResourceStatus": "CREATE_COMPLETE",
            "ResourceType": "AWS::Lambda::Function",
            "StackId": "arn:aws:cloudformation:<region>:111111111111:stack/ServerlesspressoStack/b2133d70-53b7-11ee-8350-12a8386ef723",
            "StackName": "ServerlesspressoStack",
            "Timestamp": "timestamp"
          },
          {
            "DriftInformation": {
              "StackResourceDriftStatus": "NOT_CHECKED"
            },
            "LogicalResourceId": "ValidatorServiceVerifyQRcodeFunctionServiceRole1AAADEA6",
            "PhysicalResourceId": "ServerlesspressoStack-ValidatorServiceVerifyQRcode-4R26DVN2U9SM",
            "ResourceStatus": "CREATE_COMPLETE",
            "ResourceType": "AWS::IAM::Role",
            "StackId": "arn:aws:cloudformation:<region>:111111111111:stack/ServerlesspressoStack/b2133d70-53b7-11ee-8350-12a8386ef723",
            "StackName": "ServerlesspressoStack",
            "Timestamp": "timestamp"
          },
          {
            "DriftInformation": {
              "StackResourceDriftStatus": "NOT_CHECKED"
            },
            "LogicalResourceId": "ValidatorServiceVerifyQRcodeFunctionServiceRoleDefaultPolicy400E3FFA",
            "PhysicalResourceId": "Serve-Valid-L5Z7aH8RoQNT",
            "ResourceStatus": "CREATE_COMPLETE",
            "ResourceType": "AWS::IAM::Policy",
            "StackId": "arn:aws:cloudformation:<region>:111111111111:stack/ServerlesspressoStack/b2133d70-53b7-11ee-8350-12a8386ef723",
            "StackName": "ServerlesspressoStack",
            "Timestamp": "timestamp"
          },
          {
            "DriftInformation": {
              "StackResourceDriftStatus": "NOT_CHECKED"
            },
            "LogicalResourceId": "logallpolicyResourcePolicyE806BE96",
            "PhysicalResourceId": "TrustEventsToStoreLogEvents",
            "ResourceStatus": "CREATE_COMPLETE",
            "ResourceType": "AWS::Logs::ResourcePolicy",
            "StackId": "arn:aws:cloudformation:<region>:111111111111:stack/ServerlesspressoStack/b2133d70-53b7-11ee-8350-12a8386ef723",
            "StackName": "ServerlesspressoStack",
            "Timestamp": "timestamp"
          }
        ],
        "ResponseMetadata": {
          "HTTPHeaders": {},
          "HTTPStatusCode": 200
        }
      },
      "resources": {
        "ConfigServiceConfigChangedFunction8CB6DB60": {
          "Code": {
            "Location": "https://prod-04-2014-tasks.s3.<region>.amazonaws.com/snapshots/111111111111/ServerlesspressoStack-ConfigServiceConfigChangedFu-9KKeEU75Hl7m-623d9197-5b5d-4292-9348-44ba2c6d4269?versionId=O6J6TV4ISWLRXJwOyaagdk7kgeHkH4bh&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEHMaCXVzLWVhc3QtMSJHMEUCIQDHWaFyihJCGCrGK9vOEgyh4j6EiDfk4nwzS%2BELdYY1oQIgZK%2FPvJsZFzWkRX9HLGUVDlX1az5k1zm4IqOPcCAqotAqsQUIWxAAGgw3NDk2Nzg5MDI4MzkiDCpKrk71EDME%2Fln7gSqOBQuU66GlDbRCpztMOaxEjgytnlFAuvio7gDiptmZ2M5J%2BFyamg%2BeboUIEQLMLiL7IJrtJOcMZpdhR7pFV0l8bkpexRXR33r5J8hHFlAgNtAGf5dP0wmiFkcFo4ER2YzcBP0hEPtkgeUoRuxAXb88txuJGYmgiua6xEgISHfn%2FHuHu8Nijcm7eR%2BM9%2B9X5%2F%2F7dhCdQx%2B65DKfJBPkOABcMjC0InoSccsHQGiEetuY3ZKUZ0H6IljfQ8BoB9hd21VlvPCAWE9GBwm0dBMfuTBsNDM8biKqcLe%2B9%2BzVJziCOuHFMzr5kyM9J49XLgalwraVe2SWdcVEknxxmlU9bzfBHl47klOUa9Y9p16iiPTPjbAMqNHA8qHB4UcTF%2BFNXWO5XMFdPa9scgkGk5sYcRdldj%2Bl4YCygPqCW2y9hAlOeN70VKA6tbq9ZhnKvd5sdxIXKLxQHLlbwPJqMtLoYO0VqMNVXkD7X4V0Kgcu%2BnqVbC05kPiGNY4VyDni0PHGYLErvGbI6l0tEaSwDNW8Oxz4cUYVfPfHuB%2BaFVaZADSQmThxveIVc%2FMEIpbM2BUIuE0UTX4lBjAp320QBBLQB4W0Pk4oj5hK1Qf0hJUp1qBSEd5aUFO8ENcNIIYYQ6nk%2BnkoR%2BhXyKZO415YslnmOthl%2Bn3sYbS6kCD7Tvo%2FrqmAoaqexBVsBjvWJYTS7f4FnoDAc38ssVSEjysimaAM05U%2BtdlSbCR6nSK%2Fer3lbGQE0lIu7lwRFeJ1oZXqq58gxHE8gOUjCHMfxS2A55IpmrzXcmmEJAiQa%2FCpxZGmIUfEAhGtAANGkezXszaTGqvoUf79Zrx%2FekmFINryfZb3%2BGYTi%2FKzocU7fEzSQ1M7HRsi4zCe25CoBjqxAV1cKwcGJUzyZn8JDb3BXzo0QYBm%2B9yop7kYUIZACLMc4KbnNVG0JxQ2s8hq%2Bn%2FmBHzA8a0c%2FrbPEymEELq7QE%2F7Ko%2BR%2Fb%2BEdPJ%2FRXnVNOjOWwubXEq3S3G4A%2BgUlMF%2BuHde6V2Vqj0X1NuUlHmmdTnTVZYaB%2F1Ew8gkIm5Ts6Mc5p0vAYTSdzdnrCDgrPVaBGdBzU%2FFAXUrZ8VDmteFISK730OTcgxsxMD26sebuQUjGg%3D%3D&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20230915T112320Z&X-Amz-SignedHeaders=host&X-Amz-Expires=600&X-Amz-Credential=ASIA25DCYHY3656ZB6EG%2F20230915%2F<region>%2Fs3%2Faws4_request&X-Amz-Signature=29d86c994f5c016331d8a296dc33c3ed00ea313fc4cc999d04491f828ba85b1c",
            "RepositoryType": "S3"
          },
          "Configuration": {
            "Architectures": [
              "x86_64"
            ],
            "CodeSha256": "IjofHHIay6Y1NWgpTw1x5Vi65UPvomuiHW6vy54zC8g=",
            "CodeSize": 646,
            "Description": "",
            "Environment": {
              "Variables": {
                "EventBusName": "Serverlesspresso",
                "Source": "lstesting.serverlesspresso"
              }
            },
            "EphemeralStorage": {
              "Size": 512
            },
            "FunctionArn": "arn:aws:lambda:<region>:111111111111:function:ServerlesspressoStack-ConfigServiceConfigChangedFu-9KKeEU75Hl7m",
            "FunctionName": "ServerlesspressoStack-ConfigServiceConfigChangedFu-9KKeEU75Hl7m",
            "Handler": "index.handler",
            "LastModified": "date",
            "LastUpdateStatus": "Successful",
            "MemorySize": 128,
            "PackageType": "Zip",
            "RevisionId": "<uuid:2>",
            "Role": "arn:aws:iam::111111111111:role/ServerlesspressoStack-ConfigServiceConfigChangedFu-17MD595Y281TF",
            "Runtime": "nodejs14.x",
            "RuntimeVersionConfig": {
              "RuntimeVersionArn": "arn:aws:lambda:<region>::runtime:496ba426e205a4ce6d9fbda32d68e7e6d9ffcd114c55db974a7a12652f57ac74"
            },
            "SnapStart": {
              "ApplyOn": "None",
              "OptimizationStatus": "Off"
            },
            "State": "Active",
            "Timeout": 15,
            "TracingConfig": {
              "Mode": "PassThrough"
            },
            "Version": "$LATEST"
          },
          "Tags": {
            "aws:cloudformation:logical-id": "ConfigServiceConfigChangedFunction8CB6DB60",
            "aws:cloudformation:stack-id": "arn:aws:cloudformation:<region>:111111111111:stack/ServerlesspressoStack/b2133d70-53b7-11ee-8350-12a8386ef723",
            "aws:cloudformation:stack-name": "ServerlesspressoStack"
          },
          "ResponseMetadata": {
            "HTTPHeaders": {},
            "HTTPStatusCode": 200
          }
        },
        "ConfigServiceConfigTableD352B014": {
          "Table": {
            "AttributeDefinitions": [
              {
                "AttributeName": "PK",
                "AttributeType": "S"
              }
            ],
            "BillingModeSummary": {
              "BillingMode": "PAY_PER_REQUEST",
              "LastUpdateToPayPerRequestDateTime": "datetime"
            },
            "CreationDateTime": "datetime",
            "DeletionProtectionEnabled": false,
            "ItemCount": 0,
            "KeySchema": [
              {
                "AttributeName": "PK",
                "KeyType": "HASH"
              }
            ],
            "LatestStreamArn": "arn:aws:dynamodb:<region>:111111111111:table/serverlesspresso-config-table/stream/2023-09-15T11:05:23.048",
            "LatestStreamLabel": "2023-09-15T11:05:23.048",
            "ProvisionedThroughput": {
              "NumberOfDecreasesToday": 0,
              "ReadCapacityUnits": 0,
              "WriteCapacityUnits": 0
            },
            "StreamSpecification": {
              "StreamEnabled": true,
              "StreamViewType": "NEW_AND_OLD_IMAGES"
            },
            "TableArn": "arn:aws:dynamodb:<region>:111111111111:table/serverlesspresso-config-table",
            "TableId": "<uuid:3>",
            "TableName": "serverlesspresso-config-table",
            "TableSizeBytes": 0,
            "TableStatus": "ACTIVE"
          },
          "ResponseMetadata": {
            "HTTPHeaders": {},
            "HTTPStatusCode": 200
          }
        },
        "CountingTable14EC498A": {
          "Table": {
            "AttributeDefinitions": [
              {
                "AttributeName": "PK",
                "AttributeType": "S"
              }
            ],
            "BillingModeSummary": {
              "BillingMode": "PAY_PER_REQUEST",
              "LastUpdateToPayPerRequestDateTime": "datetime"
            },
            "CreationDateTime": "datetime",
            "DeletionProtectionEnabled": false,
            "ItemCount": 0,
            "KeySchema": [
              {
                "AttributeName": "PK",
                "KeyType": "HASH"
              }
            ],
            "ProvisionedThroughput": {
              "NumberOfDecreasesToday": 0,
              "ReadCapacityUnits": 0,
              "WriteCapacityUnits": 0
            },
            "TableArn": "arn:aws:dynamodb:<region>:111111111111:table/serverlesspresso-counting-table",
            "TableId": "<uuid:4>",
            "TableName": "serverlesspresso-counting-table",
            "TableSizeBytes": 0,
            "TableStatus": "ACTIVE"
          },
          "ResponseMetadata": {
            "HTTPHeaders": {},
            "HTTPStatusCode": 200
          }
        },
        "GetIoTEndpointFunction5DE30FEA": {
          "Code": {
            "Location": "https://prod-04-2014-tasks.s3.<region>.amazonaws.com/snapshots/111111111111/ServerlesspressoStack-GetIoTEndpointFunction5DE30F-Z9eQZS56H8bm-8e596c87-b8c1-4b47-aeda-a20f5e027226?versionId=jjDjvXSj5CadvB2R5SyyDuAhCoP1WJSq&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEHIaCXVzLWVhc3QtMSJIMEYCIQDH%2BPrrKG%2F4BQpA8seKV5DNH2FAQE7NTwdr8ulhJSpbfwIhAIuG%2FB0Lz9YIBtKn0J0mjMKA8hBJdfaTOJ8jn7DiomXeKrEFCFsQABoMNzQ5Njc4OTAyODM5IgyXl2uKO3auXmfRvVcqjgXpMzQ8m4QhSm01C04aDCfAaZu6OaRrfgkPldshGq%2BRJvAj%2Fsaw7o%2BOwncXvI8ewOfI55VYR0ct3vxDqNoPH7geYQl9saWk2wzxTUymy7fazrkWLr88xqMMbL%2B%2F1CqigFmRB1L%2Fs%2BB2hhIYkp5W0JCLuFET1TQ7h4r9cQrArdqfXnsjY11n1nReS1h03C6Q6YfQ9YwoaDKzwK1FLQtuicfAOPDT3MJdHcIddRGJupvLPo%2FAiehervM670t56JP4BCr6Te4WeUncWm%2FmY7qbfdWzuNNr41ailxeuv91oajZZu6%2FVCJynDHv8XBjaE8KeZNR8VFVH1AVyUqnZA2d1JqA6IWs14RyaR8Ixu%2FHvOwfPSm92alj0sRL6qNoesOXs8yq%2Bvo1caYPLPdJzLnvTQj1sNkyXxa1PuqE7W50ra0Oz9NCPxmp3NAAm6WDh5XIJLKkwEVYC2uzpd7VHY3HUCutAJ3bujcZWKdbgHA8pU9pXErJFOdYiIAeYELMZIH7XvHtYvwKFZYEhE4YKHGGdWLK9Fh0Jh4P7YZRP%2FUYrHk%2FGjkBmGOX4NVkyNRv86bfd766pUmnjI6hxk2V9Yc%2FzANSnZrsyKXjf7Woz55XT0MBMENv6h8UB7pw%2BpoZ67GTP3nAqb%2BGy4drkgnn5PZv55LV9Nc9bS3YafZKklwEd1PIG38HdrPUVD7B%2FcJ9lVLgKIY0PZFqqo1Bqe1aJtnwCqaKJIvH6eO15IZPWh8nDPNnVyfoBm0eSFmif4OL21t6pqLBcHTW9V%2FbLEHZPtCoinKOUWFjLm%2FLXcExFI6LD13essBCmBgKCLwTFFuxhjIUleRfWBIHPrfBAMVLeveUuLfkkP8ysfn%2Fm3LIU8pLQ6hQw%2FdKQqAY6sAHW%2F1jtapNGgVdrFqhG7jSa5Ua%2B0KKl0hJP4ZmdEHqLlPziSCpPUoPn08RHQ6biI%2Ft43%2B4Ch%2F1NNTxt2GckkTD6QwLRgcBIdwWFoU53T8grdxSloH5tH%2FjYmzhxFXU0XYABXzreclO4r38Lr75PeSrum2Rcfa2cxwuo3pIoN69oKXB%2BDnmv%2BsZiej5dLhkbo0yzdlVnTISmZnTIxk2ahu8AUO1Bb9%2Fpyo9ebojQ97DSHw%3D%3D&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20230915T112321Z&X-Amz-SignedHeaders=host&X-Amz-Expires=600&X-Amz-Credential=ASIA25DCYHY33Q3PWTIB%2F20230915%2F<region>%2Fs3%2Faws4_request&X-Amz-Signature=3b280ed127708f5a14f40fc7bf350f0c7c4e76e0728d2a39b3bbf2e310580544",
            "RepositoryType": "S3"
          },
          "Configuration": {
            "Architectures": [
              "x86_64"
            ],
            "CodeSha256": "S7wLmI6Ck52Mgo9fPj27QbBh59gAt9CezHP8DtREFT0=",
            "CodeSize": 1076,
            "Description": "",
            "EphemeralStorage": {
              "Size": 512
            },
            "FunctionArn": "arn:aws:lambda:<region>:111111111111:function:ServerlesspressoStack-GetIoTEndpointFunction5DE30F-Z9eQZS56H8bm",
            "FunctionName": "ServerlesspressoStack-GetIoTEndpointFunction5DE30F-Z9eQZS56H8bm",
            "Handler": "index.handler",
            "LastModified": "date",
            "LastUpdateStatus": "Successful",
            "MemorySize": 128,
            "PackageType": "Zip",
            "RevisionId": "<uuid:5>",
            "Role": "arn:aws:iam::111111111111:role/ServerlesspressoStack-GetIoTEndpointFunctionServic-1DLQN0Y3EGAXJ",
            "Runtime": "nodejs14.x",
            "RuntimeVersionConfig": {
              "RuntimeVersionArn": "arn:aws:lambda:<region>::runtime:496ba426e205a4ce6d9fbda32d68e7e6d9ffcd114c55db974a7a12652f57ac74"
            },
            "SnapStart": {
              "ApplyOn": "None",
              "OptimizationStatus": "Off"
            },
            "State": "Active",
            "Timeout": 3,
            "TracingConfig": {
              "Mode": "PassThrough"
            },
            "Version": "$LATEST"
          },
          "Tags": {
            "aws:cloudformation:logical-id": "GetIoTEndpointFunction5DE30FEA",
            "aws:cloudformation:stack-id": "arn:aws:cloudformation:<region>:111111111111:stack/ServerlesspressoStack/b2133d70-53b7-11ee-8350-12a8386ef723",
            "aws:cloudformation:stack-name": "ServerlesspressoStack"
          },
          "ResponseMetadata": {
            "HTTPHeaders": {},
            "HTTPStatusCode": 200
          }
        },
        "OrderManagerServiceGetOrderByIdFunctionEE3AF4C1": {
          "Code": {
            "Location": "https://prod-04-2014-tasks.s3.<region>.amazonaws.com/snapshots/111111111111/ServerlesspressoStack-OrderManagerServiceGetOrderB-Ieuhs54poJvO-cbf7d07a-5946-4475-a815-178bbae5fa24?versionId=POc9wNZBw_uaAyqRKqMdw4z1kRUEosOS&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEHQaCXVzLWVhc3QtMSJGMEQCIE%2FtzFZjUl483fByXM5a6ox4karPFnhD5TdZWW4y1nU8AiB9QL8TnS0JzB30FXzKNKUnNla2yjKjsy67FtPtTiH%2FdyqxBQhcEAAaDDc0OTY3ODkwMjgzOSIMHuJh6liVII5OOL2sKo4Fa9PP559n6nN8Cx1zVv88FtPakVaVzY0zioMDY83Cj5CnXWak91kwOH8FDM1z1SjMDntuYCHbXQxVf9Dz%2B444UfIZ6iibAESPkvIHXmu1MXHMLTgATtbb4XTtnezG4Ao%2F4Hl4BCBPMehCRXlFF2Sq4hIUv0LiSA1DBe6omgGCCGXBWY6ORgW62emYlYfCGrPite7sbTciA2sc5A%2FaypxTzioRi%2Bcwhd9pRmsGXjwwtjleban%2BEQ4tkSUNCZvvpOsPW9oCqhuvoP8BqvtHUCWsJbCjeEgmHhS7Os070Sm2sBVJUiDcaT8o1TKAb1I2OqnZQm4BsyWTQxHWUz3lKj3iwdITgVff1tRVdrwNmbvBc4UK1oT3oJghRW1JXePNhc5i34%2BeVsWrsitfWAOxtjJ74jpwRMF6nv2a5rJcYOtZwZ8BMtQEtD2pZIG2ET07IsPE37Noo7uefgnW5E%2FuLBCAvZa4bUYDpuQyw%2BuDzeGuBI9SM5x1vXuaYDf3CBTDu1Vsy8TYWPDWcDauY751kWQfJgCRl2KfPGJoh7di4wtVpHEBt%2Faldw%2BUoc%2FtuaunYPVXTW6%2BklKUuSBDYozXJjvMHTHb5XgFFtQmOOr3VKXRbvYrArhBlsnMmDwZqlo3Jpay6%2BqNN%2Bvgde1Xny%2B1tRSPEuJP2NE0povkid2BDEPyl55tHaeyDAA%2FqayujmDnOxLP7w03LOHZDhuhNAu%2FRO5KL%2FiahI8I0mJYzKRX0K3khNHPCWcr2T1aRE%2BGmRNbbpZhSVMvN43hTqFpTTu5EdfkSwnjdzEcwIlbAYN2AQ2r%2FDu6RX0NchlzdQlQH3mQotRbIet%2BygqSZfW6VXbLFgIcCsSdjAiKlGCotrIyygBIMPX7kKgGOrIBiCK8q7aVjCnavMRoopz3VfbnaJ%2FmaxIHg0ZrlvmKb%2B%2FEdclLWMeCeEpR0T0VKRm8%2FknPtIAdkwwrsykLXFuk1T6Dn3EpSCPOtCd5SPMCKlsKGT4ZaRE%2FHckW2FMPeylkCWlMoTeJKsq640csKiSuasLU1uztwbjhWvvrJy8ZQNhfBXWvbjMVZkh6yCp6qfEtID07BS6SDT41FCmq6tut5uaVfBrLS%2Fy74sMGpVa6MJ5Jtg%3D%3D&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20230915T112321Z&X-Amz-SignedHeaders=host&X-Amz-Expires=600&X-Amz-Credential=ASIA25DCYHY35SKRCDDX%2F20230915%2F<region>%2Fs3%2Faws4_request&X-Amz-Signature=fd5bb3b324381557a1ff4256addab406db053062f2f03d7a601f0dabc56ba1d9",
            "RepositoryType": "S3"
          },
          "Configuration": {
            "Architectures": [
              "x86_64"
            ],
            "CodeSha256": "+X+SxFLu6F+IgY/4NH8jKiV+C0fY5yiUmHluU8PMfx4=",
            "CodeSize": 732,
            "Description": "",
            "EphemeralStorage": {
              "Size": 512
            },
            "FunctionArn": "arn:aws:lambda:<region>:111111111111:function:ServerlesspressoStack-OrderManagerServiceGetOrderB-Ieuhs54poJvO",
            "FunctionName": "ServerlesspressoStack-OrderManagerServiceGetOrderB-Ieuhs54poJvO",
            "Handler": "index.handler",
            "LastModified": "date",
            "LastUpdateStatus": "Successful",
            "MemorySize": 128,
            "PackageType": "Zip",
            "RevisionId": "<uuid:6>",
            "Role": "arn:aws:iam::111111111111:role/ServerlesspressoStack-OrderManagerServiceGetOrderB-1NQD7HPUVPEM8",
            "Runtime": "nodejs14.x",
            "RuntimeVersionConfig": {
              "RuntimeVersionArn": "arn:aws:lambda:<region>::runtime:496ba426e205a4ce6d9fbda32d68e7e6d9ffcd114c55db974a7a12652f57ac74"
            },
            "SnapStart": {
              "ApplyOn": "None",
              "OptimizationStatus": "Off"
            },
            "State": "Active",
            "Timeout": 15,
            "TracingConfig": {
              "Mode": "PassThrough"
            },
            "Version": "$LATEST"
          },
          "Tags": {
            "aws:cloudformation:logical-id": "OrderManagerServiceGetOrderByIdFunctionEE3AF4C1",
            "aws:cloudformation:stack-id": "arn:aws:cloudformation:<region>:111111111111:stack/ServerlesspressoStack/b2133d70-53b7-11ee-8350-12a8386ef723",
            "aws:cloudformation:stack-name": "ServerlesspressoStack"
          },
          "ResponseMetadata": {
            "HTTPHeaders": {},
            "HTTPStatusCode": 200
          }
        },
        "OrderManagerServiceOrderTableBBA598CB": {
          "Table": {
            "AttributeDefinitions": [
              {
                "AttributeName": "ORDERSTATE",
                "AttributeType": "S"
              },
              {
                "AttributeName": "PK",
                "AttributeType": "S"
              },
              {
                "AttributeName": "SK",
                "AttributeType": "S"
              },
              {
                "AttributeName": "TS",
                "AttributeType": "N"
              },
              {
                "AttributeName": "USERID",
                "AttributeType": "S"
              }
            ],
            "BillingModeSummary": {
              "BillingMode": "PAY_PER_REQUEST",
              "LastUpdateToPayPerRequestDateTime": "datetime"
            },
            "CreationDateTime": "datetime",
            "DeletionProtectionEnabled": false,
            "GlobalSecondaryIndexes": [
              {
                "IndexArn": "arn:aws:dynamodb:<region>:111111111111:table/serverlesspresso-order-table/index/GSI-userId",
                "IndexName": "GSI-userId",
                "IndexSizeBytes": 0,
                "IndexStatus": "ACTIVE",
                "ItemCount": 0,
                "KeySchema": [
                  {
                    "AttributeName": "USERID",
                    "KeyType": "HASH"
                  },
                  {
                    "AttributeName": "SK",
                    "KeyType": "RANGE"
                  }
                ],
                "Projection": {
                  "ProjectionType": "ALL"
                },
                "ProvisionedThroughput": {
                  "NumberOfDecreasesToday": 0,
                  "ReadCapacityUnits": 0,
                  "WriteCapacityUnits": 0
                }
              },
              {
                "IndexArn": "arn:aws:dynamodb:<region>:111111111111:table/serverlesspresso-order-table/index/GSI-status",
                "IndexName": "GSI-status",
                "IndexSizeBytes": 0,
                "IndexStatus": "ACTIVE",
                "ItemCount": 0,
                "KeySchema": [
                  {
                    "AttributeName": "ORDERSTATE",
                    "KeyType": "HASH"
                  },
                  {
                    "AttributeName": "SK",
                    "KeyType": "RANGE"
                  }
                ],
                "Projection": {
                  "ProjectionType": "ALL"
                },
                "ProvisionedThroughput": {
                  "NumberOfDecreasesToday": 0,
                  "ReadCapacityUnits": 0,
                  "WriteCapacityUnits": 0
                }
              }
            ],
            "ItemCount": 0,
            "KeySchema": [
              {
                "AttributeName": "PK",
                "KeyType": "HASH"
              },
              {
                "AttributeName": "SK",
                "KeyType": "RANGE"
              }
            ],
            "LatestStreamArn": "arn:aws:dynamodb:<region>:111111111111:table/serverlesspresso-order-table/stream/2023-09-15T11:05:23.184",
            "LatestStreamLabel": "2023-09-15T11:05:23.184",
            "LocalSecondaryIndexes": [
              {
                "IndexArn": "arn:aws:dynamodb:<region>:111111111111:table/serverlesspresso-order-table/index/LSI-timestamp",
                "IndexName": "LSI-timestamp",
                "IndexSizeBytes": 0,
                "ItemCount": 0,
                "KeySchema": [
                  {
                    "AttributeName": "PK",
                    "KeyType": "HASH"
                  },
                  {
                    "AttributeName": "TS",
                    "KeyType": "RANGE"
                  }
                ],
                "Projection": {
                  "ProjectionType": "ALL"
                }
              }
            ],
            "ProvisionedThroughput": {
              "NumberOfDecreasesToday": 0,
              "ReadCapacityUnits": 0,
              "WriteCapacityUnits": 0
            },
            "StreamSpecification": {
              "StreamEnabled": true,
              "StreamViewType": "NEW_AND_OLD_IMAGES"
            },
            "TableArn": "arn:aws:dynamodb:<region>:111111111111:table/serverlesspresso-order-table",
            "TableId": "<uuid:7>",
            "TableName": "serverlesspresso-order-table",
            "TableSizeBytes": 0,
            "TableStatus": "ACTIVE"
          },
          "ResponseMetadata": {
            "HTTPHeaders": {},
            "HTTPStatusCode": 200
          }
        },
        "OrderManagerServiceSanitizeOrderLambdaB71F1F12": {
          "Code": {
            "Location": "https://prod-04-2014-tasks.s3.<region>.amazonaws.com/snapshots/111111111111/ServerlesspressoStack-OrderManagerServiceSanitizeO-DPJBTrAFXC9b-1ddc7e33-72c0-4b3b-91f6-5c287ca52a6a?versionId=Ou1BBMtHTtygZg13MbPj4_fwKy5DGNBp&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEHMaCXVzLWVhc3QtMSJGMEQCIETdF17XuZF3xNFiQzf%2F8793%2FFEZsjTIpE6oJsUd%2BljaAiBGUGIy5yIVtoPRF5w4wTftJIb5dsD0asimDKRXc6rhPCqwBQhbEAAaDDc0OTY3ODkwMjgzOSIMqO4pKm0fTOIi%2FDXOKo0F9%2B3TGe%2BN%2Fk3DaBQoNPZ25JClRHeeP35jfHwtsqkA2z9ivSLOE3CWe9gTiaF%2FJtFYtiYxSZkShIoFSlEMa6r8QGBvIRZmHPuM9Ug5wOCbx%2B5z4XC0lIwaKa79WcmZz6Xe9%2BvhF%2FhTmYvi6ElYXdl4coZJDiHxHIbUKc9w%2Farhc%2BXnu%2BsQBSFlAHP2hpVgAVfKTm6nW9MPci%2B%2FWyQnUyLxj6B8CGfuRh3GECCU3vqM2F3JuNLsK63mJCnyBw%2Bj4Pp8z34wIZ6cWf4lICqPDy5afdkiyPBA%2FL2Vw8fPJJ5IYMR6vqJJ5vwhvX8LsjIEhkSGciZAPZSK%2Fx%2Fd%2FHxptjXKMIeI%2BTO83KLjewme5%2BUyyahtjUVkFkT1lrExLZTM6K%2FDm2EF%2FKbx%2FTdvpF16K9F3eRkGS4tghrgTHgrSCLkgYMN25a9732k2cBKIAlWbakE191rOcXuLT1pgZ8oD8dkjclqiJ0poRKNRODGVCBpswi%2Fd7ah7kspx6Hne7%2B2jAUejAcbns9wNKJKp1TAUdHqADNWzz3E7lkRAczTBNv04M4m8Tci5oVSFFL%2FE23dl9PcfH7x%2B32qzsnpw9ifiEwxRAn7xc1w1LhNF%2B9iKQOWe0qp3j51ccoCLm4SPZzMVasa07jOVLVX5E3vxylaVRuzfs20csmkSvFkGvyOo5jdhfj75m3Xedt6v0V3thOlFZDoEhbB336qh7sL%2FSvluWBbRpzJjjwLfgqwv2BwtEt0DisXnzEh3xbz9l%2F0ZDoFxzy3xw5l%2FCjg%2FVWn7BBGyvPslv0OW1UaLHTXvZVlMfEF7wziUkIWbV8eImSkf1XPOezi9wKuYWEjJH7sFwOffHqAu5GLROSaKLMxz9kN%2F30Ewsd%2BQqAY6sgHLivGENtVPBVHxaTnDRFzgS5n0nHQZN5dnllS31%2FuziBoZWFwGCkvQOQZXCXir%2BWLGTc8FmVDsgiW1sUXDUOeSErZFvFE9Zyxs2%2BJ33YBQpLvIk7aAER%2BLlLddMPDwuChfsXNj7wzj62%2Fgol0b6UBDsiZVdlLISmR9bo%2FuDR1m9mlCVPhgXtu7G%2F0wKCON0oWi16goopdsrRZA0SYJgLPEu%2Bcs%2Fv93xTRW%2BqNgz6TgwoDw&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20230915T112321Z&X-Amz-SignedHeaders=host&X-Amz-Expires=600&X-Amz-Credential=ASIA25DCYHY3ULJ3UNNG%2F20230915%2F<region>%2Fs3%2Faws4_request&X-Amz-Signature=6ca6b28195de36c66b3b87b14e60d7ca1d0a8fc3f2a2a3c2ca11ac0166601996",
            "RepositoryType": "S3"
          },
          "Configuration": {
            "Architectures": [
              "x86_64"
            ],
            "CodeSha256": "PhRZq6PT1aI2j2x+Raf6qQGgfjEBB6E4XY8w4TgOKH8=",
            "CodeSize": 493,
            "Description": "",
            "EphemeralStorage": {
              "Size": 512
            },
            "FunctionArn": "arn:aws:lambda:<region>:111111111111:function:ServerlesspressoStack-OrderManagerServiceSanitizeO-DPJBTrAFXC9b",
            "FunctionName": "ServerlesspressoStack-OrderManagerServiceSanitizeO-DPJBTrAFXC9b",
            "Handler": "index.handler",
            "LastModified": "date",
            "LastUpdateStatus": "Successful",
            "MemorySize": 128,
            "PackageType": "Zip",
            "RevisionId": "<uuid:8>",
            "Role": "arn:aws:iam::111111111111:role/ServerlesspressoStack-OrderManagerServiceSanitizeO-A5GGRYMSE9Y",
            "Runtime": "python3.11",
            "RuntimeVersionConfig": {
              "RuntimeVersionArn": "arn:aws:lambda:<region>::runtime:a88e0b49a8989d1296c62d7e745c09c8ddfe9f7faeaa45c1bc4e361cc74fa3b6"
            },
            "SnapStart": {
              "ApplyOn": "None",
              "OptimizationStatus": "Off"
            },
            "State": "Active",
            "Timeout": 20,
            "TracingConfig": {
              "Mode": "PassThrough"
            },
            "Version": "$LATEST"
          },
          "Tags": {
            "aws:cloudformation:logical-id": "OrderManagerServiceSanitizeOrderLambdaB71F1F12",
            "aws:cloudformation:stack-id": "arn:aws:cloudformation:<region>:111111111111:stack/ServerlesspressoStack/b2133d70-53b7-11ee-8350-12a8386ef723",
            "aws:cloudformation:stack-name": "ServerlesspressoStack"
          },
          "ResponseMetadata": {
            "HTTPHeaders": {},
            "HTTPStatusCode": 200
          }
        },
        "OrderManagerServiceValidatorNewOrderFunctionCE5DF2C7": {
          "Code": {
            "Location": "https://prod-04-2014-tasks.s3.<region>.amazonaws.com/snapshots/111111111111/ServerlesspressoStack-OrderManagerServiceValidator-ZP5T26QUFDpW-93fbb846-fab8-407b-be6b-8e34b7b701ef?versionId=KoUHkv7DIzHAfMQ_FVE9V08CW336qpb2&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEHIaCXVzLWVhc3QtMSJGMEQCIGLGhf8hRbmSdOuZW2AwmJOhMnWovkYFm8MUqJZg2Y4FAiBjenuWf9FZ6qKZQVC%2BeudMq2pIbPHae8hmUTXIy6CoTyqxBQhbEAAaDDc0OTY3ODkwMjgzOSIMGflDzSDH8cBfcdFgKo4FMyUStRKT%2F3NehDCS4fKlV20YBPvNCuBEY011iL4SdDbPMMudeN5HPnKpxSb4xERDKWbx2jgVg6EItJEssvTUHYgFcunt%2BBvZN324rhQvw52IQe43%2BQYg4oXL%2BnFwWhlHw%2FHqJ5Prkc%2FxrLPKbUpfW93nX9YWDkyRDorY2XwgpTl7s2UGwbSUUPBJ5lla3GDrW08Y6cTotZ9vc%2BCpH5Db1Og1%2BtiC2SKyqvAWc2r%2BBgfa1PbgBUkpLsuwQtX8Es5Dr3biyZ7nZW68wEBISHzNmhqjsmBDnDiChBytldz9%2FMJedxOvxWBRDqNU%2BINVjBVb5yAcFVJTDkWWGAme4kqcmABDgThqbNy3HZfbDMHjF%2B7j3PKu%2B82jkupgsqlAeDj57fD1tk6P74M6%2Byhwq74atUPooKpVA9bnp4hLpIVgZ4zJ1Ebm%2FC%2B1QDuFxMYYoPmUHPWjPiJTFaruXpe5pc90JCD%2By8b36ZQ9vGrITZpEjyPrhbp%2F15Lu0acR3PLjY56vbUPQiDJFvQpdoR5bbvjSa53ytiHHj9ZQuRS9w4BPyu%2F3JC5qbjcFJXCzd9zn9SWjkqsdtIAIskbeYuwlXY78%2FaK50ViV43FHVYpKaS0AXXyjm14lAs0KH8Gvh5v25xdFFJZlKR7k88X%2FJ8sa49rsbqkKpFeoByJDOn6nLxWmTEhjXO7Il250l2J858Uc66lj3JCoMcpyvTHHtMFI%2F1x8X30lgK2FCzmv1QPBWEV67vgALMnIl9ScBIkYauvFgGw7uTaLq6PTXOSpJVV8Suud3yg29uq5OVhzE9H1meSoI%2B8dax5YDzPpnL0yV8ehIfol3GCSHRiKZcEDlpkN8NBBDApdo0E%2F3GyBksB%2FiP86MKHVkKgGOrIBZQis6Ly5ANC%2FMbwngnHOl30dKMBVvnEBI6uH6vVRunDQuISzeIWWmu6lgMV%2FyGoaKqx6sPV5eASpx6yfm%2Fhe0X%2BkaALIStmi1qMxr%2BtQqlP1r6FHDXpVqdddyrWgIYc83A9EAQRnIpyZKNd5T7Vg1MPR273ww%2FO6Du7cB%2FugojH6gD6RCNFHGKqqezqJR9PSbPIOffHYBlna4hLV1L%2Bp5tS1i3ivjpSbhAwl7NC2gpenmA%3D%3D&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20230915T112322Z&X-Amz-SignedHeaders=host&X-Amz-Expires=600&X-Amz-Credential=ASIA25DCYHY325PGKKNP%2F20230915%2F<region>%2Fs3%2Faws4_request&X-Amz-Signature=382b53cc19d72f31bd8a52076546a4d3ea1e5ffc73bd6ce16e62a4579f395ee5",
            "RepositoryType": "S3"
          },
          "Configuration": {
            "Architectures": [
              "x86_64"
            ],
            "CodeSha256": "lEbI1wo9cu2/A1WSlwyshrHS86X68R1wbUo0HqtaOfk=",
            "CodeSize": 600,
            "Description": "",
            "Environment": {
              "Variables": {
                "TableName": "serverlesspresso-order-table"
              }
            },
            "EphemeralStorage": {
              "Size": 512
            },
            "FunctionArn": "arn:aws:lambda:<region>:111111111111:function:ServerlesspressoStack-OrderManagerServiceValidator-ZP5T26QUFDpW",
            "FunctionName": "ServerlesspressoStack-OrderManagerServiceValidator-ZP5T26QUFDpW",
            "Handler": "index.handler",
            "LastModified": "date",
            "LastUpdateStatus": "Successful",
            "MemorySize": 128,
            "PackageType": "Zip",
            "RevisionId": "<uuid:9>",
            "Role": "arn:aws:iam::111111111111:role/ServerlesspressoStack-OrderManagerServiceValidator-1GY1F7S5296TD",
            "Runtime": "nodejs14.x",
            "RuntimeVersionConfig": {
              "RuntimeVersionArn": "arn:aws:lambda:<region>::runtime:496ba426e205a4ce6d9fbda32d68e7e6d9ffcd114c55db974a7a12652f57ac74"
            },
            "SnapStart": {
              "ApplyOn": "None",
              "OptimizationStatus": "Off"
            },
            "State": "Active",
            "Timeout": 15,
            "TracingConfig": {
              "Mode": "PassThrough"
            },
            "Version": "$LATEST"
          },
          "Tags": {
            "aws:cloudformation:logical-id": "OrderManagerServiceValidatorNewOrderFunctionCE5DF2C7",
            "aws:cloudformation:stack-id": "arn:aws:cloudformation:<region>:111111111111:stack/ServerlesspressoStack/b2133d70-53b7-11ee-8350-12a8386ef723",
            "aws:cloudformation:stack-name": "ServerlesspressoStack"
          },
          "ResponseMetadata": {
            "HTTPHeaders": {},
            "HTTPStatusCode": 200
          }
        },
        "OrderManagerServiceWaitingCompletionFC252249": {
          "Code": {
            "Location": "https://prod-04-2014-tasks.s3.<region>.amazonaws.com/snapshots/111111111111/ServerlesspressoStack-OrderManagerServiceWaitingCo-2r3y4Fs3xtyc-9c1a568e-b017-4189-a9e8-531e9f264e44?versionId=l3p1zYzneTzc7._aGcy0ttywd3t25rJ3&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEHMaCXVzLWVhc3QtMSJGMEQCIEwJZWHF0K%2FXfqAQ5ZaBTABgaSKFuRLMdf4j8%2FpQhbYKAiAfULjNrqYEEBRMvxLePz2WvFETiFfTa8gtXRHTZ5BfUSqxBQhbEAAaDDc0OTY3ODkwMjgzOSIMWQhQLvzzwvnGGGv0Ko4F3Ckd8luZKGIfL3xtSDVAK0PoTcaIhyOcrJZjR3de%2Fli6c5HXqmWFk8%2FdFPO9ApNFlxfGomgvFOlxjFIcCEayHmyqc3sKE8dugITYjjJD0lTeb3Uj8Qy2yecRaYFazYsPS%2B5t4KmwSKrTL37lS3UXjDS1RD7BAaC0XzaCROm4uRqa8UZ%2BamDQ%2BEDvSQuWNlvbbzA00zo4W5%2FSnMfnu8usJ0KXl0BMFm1xwEan2MWo1ahreJTSWqzdgJv1uVpjX%2BBoAKfqjEjuslklzwaeRKdVE8YHPobFj8sdGGA2nwfdKWgCBY1sdqAFHzw3nYrd9SnLk4wtol9XzQKMzpWM8QY6NJVmF1ekWQ18oV4qqDyb%2FV5vNrLbQMLJT9GOkBuIERUFvuhcraHRGgIMPTkIFwnOtlT8tkLxun1snOi8C4pvFt9poW7Xx5R%2FyERM%2BGt20jZIh3qH%2BjAZOyy9yMoha%2FyB8qXlPGhA0PdVIQl58R%2BcctAlTnnxCcI6BsWiiGtCBc7N53MXu49mLh%2BRiXDS4Z30h059qyjwlRff40MN8WwkrTPYnxbE8Rc%2BBNnNHWe%2FpXOnOlsw8Czok1qMQ6H%2BGIGZLGsT7gN9KD8F59qTqlarf%2BSazW1A7Gwo41AlnsrBlSr31GJ8kLKrsj9uYD4DN1UZyXgkifGHc1ZFLhfSaOiHCXrXuRgUV844R%2Bd2EcYi%2FG0EUvevgMxTi3nc9TwYKcZuhStknBT54Oe9keOvfacHUus1ofJ3HHXyZdBK1FOJMC3vy3EcYmk%2Bq3R18fWcYTNAwT6ndQuTU%2BBDk366JNLVXsadjBIDCpFYvXeHVO1mVe7tUGEnQ26qG2LfOGtN15Kb8n3Pe2cDgA3ct4%2Fm3fQDMLrmkKgGOrIBUv8yAE9hzPxDZLVqHOQBNkW6de6VN2lUPc8XBP5RhPurl3gnwwbHT2bGP0YvelXsMcpmcy6BU4DqYQOBye%2FPu3rkzBtUR6ZVal3vj8B2kXM59Ux3eQ28i9tDPpBhd%2Bc2mO43KbqyWPwcmVT7T1VJ5WAApso0nNzL9PlSfQcCglKtxocH8HFqks2%2BVT2k4oVWLWXwSkbk7NkW%2BiUosQmDM9Ev1YmpMI4irKB6ItLlrxoelQ%3D%3D&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20230915T112322Z&X-Amz-SignedHeaders=host&X-Amz-Expires=600&X-Amz-Credential=ASIA25DCYHY3ZPJUGDMM%2F20230915%2F<region>%2Fs3%2Faws4_request&X-Amz-Signature=fa2eb7ea1bdcf9b53eba2fa22feabc034795ace80bf031f5c3ad64eaf4a42ee0",
            "RepositoryType": "S3"
          },
          "Configuration": {
            "Architectures": [
              "x86_64"
            ],
            "CodeSha256": "NaL90uPbCcAy1ETO4RTK6haBWWSnPsadNRgohIftpSg=",
            "CodeSize": 1078,
            "Description": "",
            "Environment": {
              "Variables": {
                "BusName": "Serverlesspresso",
                "Source": "lstesting.serverlesspresso",
                "TableName": "serverlesspresso-order-table"
              }
            },
            "EphemeralStorage": {
              "Size": 512
            },
            "FunctionArn": "arn:aws:lambda:<region>:111111111111:function:ServerlesspressoStack-OrderManagerServiceWaitingCo-2r3y4Fs3xtyc",
            "FunctionName": "ServerlesspressoStack-OrderManagerServiceWaitingCo-2r3y4Fs3xtyc",
            "Handler": "index.handler",
            "LastModified": "date",
            "LastUpdateStatus": "Successful",
            "MemorySize": 128,
            "PackageType": "Zip",
            "RevisionId": "<uuid:10>",
            "Role": "arn:aws:iam::111111111111:role/ServerlesspressoStack-OrderManagerServiceWaitingCo-19KI05DINK78N",
            "Runtime": "nodejs14.x",
            "RuntimeVersionConfig": {
              "RuntimeVersionArn": "arn:aws:lambda:<region>::runtime:496ba426e205a4ce6d9fbda32d68e7e6d9ffcd114c55db974a7a12652f57ac74"
            },
            "SnapStart": {
              "ApplyOn": "None",
              "OptimizationStatus": "Off"
            },
            "State": "Active",
            "Timeout": 15,
            "TracingConfig": {
              "Mode": "PassThrough"
            },
            "Version": "$LATEST"
          },
          "Tags": {
            "aws:cloudformation:logical-id": "OrderManagerServiceWaitingCompletionFC252249",
            "aws:cloudformation:stack-id": "arn:aws:cloudformation:<region>:111111111111:stack/ServerlesspressoStack/b2133d70-53b7-11ee-8350-12a8386ef723",
            "aws:cloudformation:stack-name": "ServerlesspressoStack"
          },
          "ResponseMetadata": {
            "HTTPHeaders": {},
            "HTTPStatusCode": 200
          }
        },
        "OrderManagerServiceWorkFlowStartedD012DE68": {
          "Code": {
            "Location": "https://prod-04-2014-tasks.s3.<region>.amazonaws.com/snapshots/111111111111/ServerlesspressoStack-OrderManagerServiceWorkFlowS-d1pJ0iQ3B8yf-2dba4067-d7c8-467f-8a9e-a241f27c265a?versionId=rVWzDSgXD53O7hhnjN1GRuUD91go2AtT&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEHMaCXVzLWVhc3QtMSJHMEUCIFrhet14uXGZZrFrzccwvEaoZoIJjULCRrTKAlqHdNqQAiEA8l4Kqv%2BSKGc%2B9NXYAB0ZLQdsYVXEmZrQZhX7cqFmI5gqsAUIWxAAGgw3NDk2Nzg5MDI4MzkiDLWbQKk7TvdYShFLHCqNBXlSChJ%2BOHhix62aWg94Y3bETqKMh7cW2enOmUozsCDG62xECpw52g23o8VVTK0wP0R%2B6dtlyPPxnFNJq%2FOxCwD4XANCxqz7mDYyeQp2KvLbjnjzeu2XkhX%2FkdBc2WdQjZLEljkS2F9vjDJ0mehhCGb0jCUoUrj3fhRMmep5W46R%2FZMFIgx%2BihvMo8ANmmgoifR%2F2GQsAv3ZQqAmqvSNnrNFk%2Bs1JxpWMjzMmxhddjyciEVziL5yJD6ffrj7L8hgZVUNFgQwjU7wPjvk73sQIKAnAhD0oUBp%2FF3sVBYOWwZKynZ5zKoLNX%2BO23%2B0Ke32kdPdKhHwIjiAz2j%2B4fWmSNGQikSKS1AnWMPTZeL1ab1d3C0V7vAdG%2FAmnXaq2G8P%2BTBsnnPJAfkTt78HPnxCeLmykszpTps9djbUjt2%2FNstr%2Fcklb%2BbGPlX%2FaPuEGKAHbupxQArZWSILQNm%2FFbgCUyyEImQ1wiCuHX9Ch%2BJ%2FxLVXiIgqV1sohpyi8NzmsmljcbXkPithEzEYLxSDMVWH0ZTQWNXtk0nVlnbx25lfTRENQ7t156FgQw1%2BsvME1hkRGbhpSk2hD4Yz9vj5yxvRutRQL435%2BgE86s5HmKG2C80JyqvQ9%2FrWrT2kswPuNWAsqPG5Qs912EeVl8zncqF8qkYxPBkOMasvGbx%2F9vbtwImY4mutmWS65O%2BsWJUNgle9Wm9c7zdYD7R9UClx6cv4mNhMTDJA8AFGk8pJhMV9u%2BRdBTlmMKHqP61zRMf7pgD9kUafzqLOMSqupDMXB4VOUGSR2GDUgrsR9nvkwExvpIuJFgDkQGCR6gUyV6yxGji6PVLJlMQBeu10YQj%2FVig8SmTNb9opez%2Fa3uA5ACOLMPXakKgGOrEB20hBV7vRhlaFhFPOQAy5a%2BsuaaDYc0tBfsGP32oZAhJg0aSa2iSDCeKhZYHeUrNzsZdorSxA690KY0zYQUoahwfLuAbL7azYfWkJddl2IBaPlCIe%2FdlnwwpdKjygy%2BxYLwjOxcynVcWoayJ5pnYIEm599JP%2B%2Fu790pEqcRaoTvuVGP%2B%2BMHozrExCjWN%2FdQTnRIuB7SzEdQ4oRRG3RWvIY%2BYF5PeSw4at31O8BYZrB%2B70&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20230915T112322Z&X-Amz-SignedHeaders=host&X-Amz-Expires=600&X-Amz-Credential=ASIA25DCYHY36LI7VOEQ%2F20230915%2F<region>%2Fs3%2Faws4_request&X-Amz-Signature=84e55ae2f44df0adbf656770d8e3c35bca9af7d86fafb1ec501ecd2c134f6473",
            "RepositoryType": "S3"
          },
          "Configuration": {
            "Architectures": [
              "x86_64"
            ],
            "CodeSha256": "/hsy512DxOwa8hsK/PAMPtwx/jXD7NtfDXjHr/pi9V8=",
            "CodeSize": 605,
            "Description": "",
            "Environment": {
              "Variables": {
                "TableName": "serverlesspresso-order-table"
              }
            },
            "EphemeralStorage": {
              "Size": 512
            },
            "FunctionArn": "arn:aws:lambda:<region>:111111111111:function:ServerlesspressoStack-OrderManagerServiceWorkFlowS-d1pJ0iQ3B8yf",
            "FunctionName": "ServerlesspressoStack-OrderManagerServiceWorkFlowS-d1pJ0iQ3B8yf",
            "Handler": "index.handler",
            "LastModified": "date",
            "LastUpdateStatus": "Successful",
            "MemorySize": 128,
            "PackageType": "Zip",
            "RevisionId": "<uuid:11>",
            "Role": "arn:aws:iam::111111111111:role/ServerlesspressoStack-OrderManagerServiceWorkFlowS-151PLPOYC26US",
            "Runtime": "nodejs14.x",
            "RuntimeVersionConfig": {
              "RuntimeVersionArn": "arn:aws:lambda:<region>::runtime:496ba426e205a4ce6d9fbda32d68e7e6d9ffcd114c55db974a7a12652f57ac74"
            },
            "SnapStart": {
              "ApplyOn": "None",
              "OptimizationStatus": "Off"
            },
            "State": "Active",
            "Timeout": 15,
            "TracingConfig": {
              "Mode": "PassThrough"
            },
            "Version": "$LATEST"
          },
          "Tags": {
            "aws:cloudformation:logical-id": "OrderManagerServiceWorkFlowStartedD012DE68",
            "aws:cloudformation:stack-id": "arn:aws:cloudformation:<region>:111111111111:stack/ServerlesspressoStack/b2133d70-53b7-11ee-8350-12a8386ef723",
            "aws:cloudformation:stack-name": "ServerlesspressoStack"
          },
          "ResponseMetadata": {
            "HTTPHeaders": {},
            "HTTPStatusCode": 200
          }
        },
        "OrderManagerStateMachine": {
          "creationDate": "datetime",
          "definition": {
            "Comment": "A description of my state machine",
            "StartAt": "Decide Action",
            "States": {
              "Decide Action": {
                "Type": "Choice",
                "Choices": [
                  {
                    "Variable": "$.action",
                    "StringEquals": "complete",
                    "Next": "Complete Order"
                  },
                  {
                    "Variable": "$.action",
                    "StringEquals": "cancel",
                    "Next": "Cancel Order"
                  },
                  {
                    "Variable": "$.action",
                    "StringEquals": "make",
                    "Next": "Claim Order"
                  },
                  {
                    "Variable": "$.action",
                    "StringEquals": "unmake",
                    "Next": "Claim Order"
                  }
                ],
                "Default": "Customer Put Order"
              },
              "Cancel Order": {
                "Type": "Pass",
                "Next": "DynamoDB Update Order Record",
                "Result": {
                  "state": "Cancelled"
                },
                "ResultPath": "$.result"
              },
              "DynamoDB Update Order Record": {
                "Type": "Task",
                "Resource": "arn:aws:states:::dynamodb:updateItem",
                "Parameters": {
                  "TableName": "serverlesspresso-order-table",
                  "Key": {
                    "PK": {
                      "S": "orders"
                    },
                    "SK": {
                      "S.$": "$.orderId"
                    }
                  },
                  "UpdateExpression": "set #OS = :OS",
                  "ExpressionAttributeNames": {
                    "#OS": "ORDERSTATE"
                  },
                  "ExpressionAttributeValues": {
                    ":OS": {
                      "S.$": "$.result.state"
                    }
                  },
                  "ReturnValues": "ALL_NEW"
                },
                "ResultPath": "$.result",
                "Next": "Construct record (1)",
                "ResultSelector": {
                  "Attributes.$": "$.Attributes"
                }
              },
              "Construct record (1)": {
                "Type": "Pass",
                "Next": "Emit Completed || Cancelled",
                "ResultPath": "$.detail",
                "Parameters": {
                  "orderId.$": "$.orderId",
                  "userId.$": "$.result.Attributes.USERID.S",
                  "ORDERSTATE.$": "$.result.Attributes.ORDERSTATE.S",
                  "Message": "Barrista has cancelled or completed teh order"
                }
              },
              "Emit Completed || Cancelled": {
                "Type": "Task",
                "Resource": "arn:aws:states:::events:putEvents",
                "Parameters": {
                  "Entries": [
                    {
                      "Detail.$": "States.JsonToString($.detail)",
                      "DetailType.$": "States.Format('OrderManager.Order{}', $.detail.ORDERSTATE)",
                      "EventBusName": "Serverlesspresso",
                      "Source": "lstesting.serverlesspresso",
                      "Time.$": "$$.State.EnteredTime"
                    }
                  ]
                },
                "Next": "Resume Order Processor 1",
                "ResultPath": "$.eventEmit"
              },
              "Complete Order": {
                "Type": "Pass",
                "Next": "DynamoDB Update Order Record",
                "Result": {
                  "state": "Completed"
                },
                "ResultPath": "$.result"
              },
              "Customer Put Order": {
                "Type": "Pass",
                "Next": "get menu"
              },
              "get menu": {
                "Type": "Task",
                "Resource": "arn:aws:states:::dynamodb:getItem",
                "Parameters": {
                  "TableName": "serverlesspresso-config-table",
                  "Key": {
                    "PK": {
                      "S": "menu"
                    }
                  }
                },
                "Next": "Sanitize order",
                "ResultPath": "$.menu"
              },
              "Sanitize order": {
                "Type": "Task",
                "Resource": "arn:aws:states:::lambda:invoke",
                "Parameters": {
                  "Payload.$": "$",
                  "FunctionName": "ServerlesspressoStack-OrderManagerServiceSanitizeO-DPJBTrAFXC9b"
                },
                "Retry": [
                  {
                    "ErrorEquals": [
                      "Lambda.ServiceException",
                      "Lambda.AWSLambdaException",
                      "Lambda.SdkClientException"
                    ],
                    "IntervalSeconds": 2,
                    "MaxAttempts": 6,
                    "BackoffRate": 2
                  }
                ],
                "Next": "Is Order Valid?",
                "ResultPath": "$.sanitise"
              },
              "Is Order Valid?": {
                "Type": "Choice",
                "Choices": [
                  {
                    "Variable": "$.sanitise.Payload",
                    "BooleanEquals": false,
                    "Next": "not a valid order"
                  }
                ],
                "Default": "Update order"
              },
              "not a valid order": {
                "Type": "Succeed"
              },
              "Update order": {
                "Type": "Task",
                "Resource": "arn:aws:states:::dynamodb:updateItem",
                "Parameters": {
                  "TableName": "serverlesspresso-order-table",
                  "Key": {
                    "PK": {
                      "S": "orders"
                    },
                    "SK": {
                      "S.$": "$.orderId"
                    }
                  },
                  "UpdateExpression": "set #drinkOrder = :drinkOrder",
                  "ConditionExpression": "#userId = :userId AND attribute_exists(TaskToken)",
                  "ExpressionAttributeNames": {
                    "#drinkOrder": "drinkOrder",
                    "#userId": "USERID"
                  },
                  "ExpressionAttributeValues": {
                    ":drinkOrder": {
                      "S.$": "States.JsonToString($.body)"
                    },
                    ":userId": {
                      "S.$": "$.body.userId"
                    }
                  },
                  "ReturnValues": "ALL_NEW"
                },
                "Next": "Resume Order Processor 2",
                "ResultSelector": {
                  "TaskToken.$": "$.Attributes.TaskToken.S"
                },
                "OutputPath": "$.record",
                "ResultPath": "$.record"
              },
              "Resume Order Processor 1": {
                "Type": "Task",
                "Parameters": {
                  "Output": "{}",
                  "TaskToken.$": "$.result.Attributes.TaskToken.S"
                },
                "Resource": "arn:aws:states:::aws-sdk:sfn:sendTaskSuccess",
                "End": true
              },
              "Resume Order Processor 2": {
                "Type": "Task",
                "Parameters": {
                  "Output": "{}",
                  "TaskToken.$": "$.TaskToken"
                },
                "Resource": "arn:aws:states:::aws-sdk:sfn:sendTaskSuccess",
                "End": true
              },
              "Claim Order": {
                "Type": "Pass",
                "Next": "Make OR Unmake?"
              },
              "Make OR Unmake?": {
                "Type": "Choice",
                "Choices": [
                  {
                    "Variable": "$.action",
                    "StringEquals": "unmake",
                    "Next": "Unmake Order"
                  },
                  {
                    "Variable": "$.action",
                    "StringEquals": "make",
                    "Next": "DynamoDB Update Order"
                  }
                ],
                "Default": "DynamoDB Update Order"
              },
              "Unmake Order": {
                "Type": "Pass",
                "Parameters": {
                  "baristaUserId": "",
                  "orderId.$": "$.orderId",
                  "Message": "The barista has pressed the 'UnMake order' button, this Invokes a Lambda function via API Gateway, which updates the order in DynamoDB and emits a new 'make order' Event."
                },
                "Next": "DynamoDB Update Order"
              },
              "DynamoDB Update Order": {
                "Type": "Task",
                "Resource": "arn:aws:states:::dynamodb:updateItem",
                "Parameters": {
                  "TableName": "serverlesspresso-order-table",
                  "Key": {
                    "PK": {
                      "S": "orders"
                    },
                    "SK": {
                      "S.$": "$.orderId"
                    }
                  },
                  "UpdateExpression": "set #baristaUserId = :baristaUserId",
                  "ExpressionAttributeNames": {
                    "#baristaUserId": "baristaUserId"
                  },
                  "ExpressionAttributeValues": {
                    ":baristaUserId": {
                      "S.$": "$.baristaUserId"
                    }
                  },
                  "ReturnValues": "ALL_NEW"
                },
                "ResultSelector": {
                  "Attributes.$": "$.Attributes"
                },
                "ResultPath": "$.result",
                "Next": "Construct record"
              },
              "Construct record": {
                "Type": "Pass",
                "Next": "EventBridge Emit Making Order",
                "ResultPath": "$.detail",
                "Parameters": {
                  "baristaUserId.$": "$.result.Attributes.baristaUserId.S",
                  "orderId.$": "$.orderId",
                  "userId.$": "$.result.Attributes.USERID.S",
                  "Message": "The barista has pressed the 'Make order' button, this Invokes a Lambda function via API Gateway, which updates the order in DynamoDB and emits a new 'make order' Event."
                }
              },
              "EventBridge Emit Making Order": {
                "Type": "Task",
                "Resource": "arn:aws:states:::events:putEvents",
                "Parameters": {
                  "Entries": [
                    {
                      "Detail.$": "States.JsonToString($.detail)",
                      "DetailType": "OrderManager.MakeOrder",
                      "EventBusName": "Serverlesspresso",
                      "Source": "lstesting.serverlesspresso",
                      "Time.$": "$$.State.EnteredTime"
                    }
                  ]
                },
                "End": true
              }
            }
          },
          "loggingConfiguration": {
            "includeExecutionData": false,
            "level": "OFF"
          },
          "name": "OrderManagerStateMachine-FvVtvaWwVojF",
          "roleArn": "arn:aws:iam::111111111111:role/ServerlesspressoStack-OrderManagerServiceOrderMana-1921XKY4OUQD3",
          "stateMachineArn": "arn:aws:states:<region>:111111111111:stateMachine:OrderManagerStateMachine-FvVtvaWwVojF",
          "status": "ACTIVE",
          "tracingConfiguration": {
            "enabled": false
          },
          "type": "STANDARD",
          "ResponseMetadata": {
            "HTTPHeaders": {},
            "HTTPStatusCode": 200
          }
        },
        "OrderProcessorServiceOrderProcessorWorkflow0C0BFC49": {
          "creationDate": "datetime",
          "definition": {
            "StartAt": "DynamoDB Get Shop status",
            "States": {
              "DynamoDB Get Shop status": {
                "Next": "Shop open?",
                "Type": "Task",
                "ResultPath": "$.GetStore",
                "Resource": "arn:aws:states:::dynamodb:getItem",
                "Parameters": {
                  "Key": {
                    "PK": {
                      "S": "config"
                    }
                  },
                  "TableName": "serverlesspresso-config-table",
                  "ConsistentRead": false
                }
              },
              "Shop open?": {
                "Type": "Choice",
                "Choices": [
                  {
                    "Not": {
                      "Variable": "$.GetStore.Item.storeOpen.BOOL",
                      "BooleanEquals": true
                    },
                    "Next": "Emit - Shop not ready"
                  }
                ],
                "Default": "ListExecutions"
              },
              "ListExecutions": {
                "Next": "Is capacity available?",
                "Type": "Task",
                "ResultPath": "$.isCapacityAvailable",
                "Resource": "arn:aws:states:::aws-sdk:sfn:listExecutions",
                "Parameters": {
                  "StateMachineArn.$": "$$.StateMachine.Id",
                  "MaxResults": 100,
                  "StatusFilter": "RUNNING"
                }
              },
              "Is capacity available?": {
                "Type": "Choice",
                "Choices": [
                  {
                    "Variable": "$.isCapacityAvailable.Executions[20]",
                    "IsPresent": true,
                    "Next": "Emit - Shop not ready"
                  }
                ],
                "Default": "Emit - Workflow Started TT"
              },
              "Emit - Workflow Started TT": {
                "Next": "Generate Order Number",
                "Catch": [
                  {
                    "ErrorEquals": [
                      "States.ALL"
                    ],
                    "Next": "Customer timedout"
                  }
                ],
                "Type": "Task",
                "HeartbeatSeconds": 300,
                "ResultPath": null,
                "Resource": "arn:aws:states:::events:putEvents.waitForTaskToken",
                "Parameters": {
                  "Entries": [
                    {
                      "Detail": {
                        "Message": "The workflow waits for your order to be submitted. It emits an event with a unique 'task token'. The token is stored in an Amazon DynamoDB table, along with your order ID.",
                        "TaskToken.$": "$$.Task.Token",
                        "orderId.$": "$.detail.orderId",
                        "userId.$": "$.detail.userId"
                      },
                      "DetailType": "OrderProcessor.WorkflowStarted",
                      "EventBusName": "arn:aws:events:<region>:111111111111:event-bus/Serverlesspresso",
                      "Source": "lstesting.serverlesspresso"
                    }
                  ]
                }
              },
              "Generate Order Number": {
                "Next": "Emit - Waiting Completion TT",
                "Type": "Task",
                "ResultPath": "$.Order.Payload",
                "ResultSelector": {
                  "orderNumber.$": "$.Attributes.IDvalue.N"
                },
                "Resource": "arn:aws:states:::dynamodb:updateItem",
                "Parameters": {
                  "Key": {
                    "PK": {
                      "S": "orderID"
                    }
                  },
                  "TableName": "serverlesspresso-counting-table",
                  "ExpressionAttributeValues": {
                    ":val": {
                      "N": "1"
                    }
                  },
                  "ReturnValues": "UPDATED_NEW",
                  "UpdateExpression": "set IDvalue = IDvalue + :val"
                }
              },
              "Emit - Waiting Completion TT": {
                "Next": "Pass",
                "Catch": [
                  {
                    "ErrorEquals": [
                      "States.Timeout"
                    ],
                    "ResultPath": "$.comment",
                    "Next": "Barista timedout"
                  }
                ],
                "Type": "Task",
                "HeartbeatSeconds": 900,
                "ResultPath": "$.order",
                "Resource": "arn:aws:states:::events:putEvents.waitForTaskToken",
                "Parameters": {
                  "Entries": [
                    {
                      "Detail": {
                        "Message": "You pressed 'submit order'. The workflow resumes using the stored 'task token', it generates your order number. It then pauses again, emitting an event with a new 'task token'.",
                        "TaskToken.$": "$$.Task.Token",
                        "orderId.$": "$.detail.orderId",
                        "orderNumber.$": "$.Order.Payload.orderNumber",
                        "userId.$": "$.detail.userId"
                      },
                      "DetailType": "OrderProcessor.WaitingCompletion",
                      "EventBusName": "arn:aws:events:<region>:111111111111:event-bus/Serverlesspresso",
                      "Source": "lstesting.serverlesspresso"
                    }
                  ]
                }
              },
              "Pass": {
                "Type": "Pass",
                "Next": "Emit - order finished"
              },
              "Emit - order finished": {
                "End": true,
                "Type": "Task",
                "ResultPath": "$.order",
                "Resource": "arn:aws:states:::events:putEvents",
                "Parameters": {
                  "Entries": [
                    {
                      "Detail": {
                        "Message": "The order has reached the end of the workflow, and so a final event is emitted to alert other services to this.",
                        "userId.$": "$.detail.userId",
                        "orderId.$": "$.detail.orderId"
                      },
                      "DetailType": "OrderProcessor.orderFinished",
                      "EventBusName": "arn:aws:events:<region>:111111111111:event-bus/Serverlesspresso",
                      "Source": "lstesting.serverlesspresso"
                    }
                  ]
                }
              },
              "Barista timedout": {
                "Type": "Pass",
                "InputPath": "$.cause",
                "Next": "Emit - error timeout"
              },
              "Emit - error timeout": {
                "End": true,
                "Type": "Task",
                "HeartbeatSeconds": 900,
                "ResultPath": "$.order",
                "Resource": "arn:aws:states:::events:putEvents",
                "Parameters": {
                  "Entries": [
                    {
                      "Detail": {
                        "Message": "The order timed out. Step Functions waits a set amount of time (5 minutes for a customer, 15 minutes for a barista), no action was taken and so the order is ended.",
                        "userId.$": "$.detail.userId",
                        "orderId.$": "$.detail.orderId",
                        "cause.$": "$.cause"
                      },
                      "DetailType": "OrderProcessor.OrderTimeOut",
                      "EventBusName": "arn:aws:events:<region>:111111111111:event-bus/Serverlesspresso",
                      "Source": "lstesting.serverlesspresso"
                    }
                  ]
                }
              },
              "Customer timedout": {
                "Type": "Pass",
                "Next": "Emit - error timeout"
              },
              "Emit - Shop not ready": {
                "End": true,
                "Type": "Task",
                "Resource": "arn:aws:states:::events:putEvents",
                "Parameters": {
                  "Entries": [
                    {
                      "Detail": {
                        "Message": "The Step functions workflow checks if the shop is open and has capacity to serve a new order by invoking a Lambda function that queries the Shop config service. The shop was not ready, and so a 'not ready' event is emitted to cancel the current order.",
                        "userId.$": "$.detail.userId"
                      },
                      "DetailType": "OrderProcessor.ShopUnavailable",
                      "EventBusName": "arn:aws:events:<region>:111111111111:event-bus/Serverlesspresso",
                      "Source": "lstesting.serverlesspresso"
                    }
                  ]
                }
              }
            }
          },
          "loggingConfiguration": {
            "includeExecutionData": false,
            "level": "OFF"
          },
          "name": "OrderProcessorWorkflow",
          "roleArn": "arn:aws:iam::111111111111:role/ServerlesspressoStack-OrderProcessorServiceOrderPr-1NXOTO5D0HE3Y",
          "stateMachineArn": "arn:aws:states:<region>:111111111111:stateMachine:OrderProcessorWorkflow",
          "status": "ACTIVE",
          "tracingConfiguration": {
            "enabled": false
          },
          "type": "STANDARD",
          "ResponseMetadata": {
            "HTTPHeaders": {},
            "HTTPStatusCode": 200
          }
        },
        "PopulateDbFnECBC3588": {
          "Code": {
            "Location": "https://prod-04-2014-tasks.s3.<region>.amazonaws.com/snapshots/111111111111/ServerlesspressoStack-PopulateDbFnECBC3588-ab759D6lIT6r-dbf390d3-6f9a-436f-b3c1-912eb523f055?versionId=dJRL3BDvGJRpm3JoHN8wPfvsTRcHDERJ&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEHMaCXVzLWVhc3QtMSJHMEUCIHjzYbY6lkRAU9XKZnEGyX7KI2rlw42M7pYYyMjFh1nHAiEAoYb4ppw%2FVIHxgnC1inzwJQ313brQpUqDOfyfoUSj9xYqsQUIWxAAGgw3NDk2Nzg5MDI4MzkiDLAy83gzeLugEnSorCqOBQgPbavkR6q2Hplp4QyMZ1nL6MXxvX3TqquCUUmlBwv5iu7pJa%2Bp7xkJaWrnrM%2FQVcojiAEzyDsJ5Yyr6%2BXUjOmum0plPFPy8j0rbriSOLkTzYBW1N3vd81BISLjBcao%2BtJATM5NUcursSLPuXeIviUOovy94h%2FIYum2vBQ3x7uLAr5c80dbuT8c%2BnUKd2MZ6HjGe65eSz5KvLGp0z4ka5r61jeK1olMfMjsuiyOOGpX55ZqfRmLqSlFMqYE2bwkmXTWnc36Pfzpry1Mr5OCPwttl8PQ1xpkOMdLejiVz6rqvV%2F2%2FQeuiMox2PcGZoPxNDmmUswnyS6D2fY8p80Bv8NBVyiZAI3z6Aab%2BfpZZ4%2F3bFyiIoK9kA6OvyxDXtSL0VXKiV1wgoWAsadNt0W2iBNezHbJZH8%2BEyuA7Um%2Bflco%2FNN24%2FXVa0O7XzP1GEYuPePPO27uqS4bsjhhLhoBApZ5APwzapqqHb3X%2FC%2Bt0%2BqDBDslhf2Z6Y0M6Lct0ZV2pmLSdFjswunrfF7hPaX%2FhPmNLcwZGjwu407%2ByY542hNrqhq6OK8PeMUMjGThyCvuHJ8yiONzpxRvi%2BXSJhl8K%2F4bLY3K6XQ8s%2Fw5PCYnEzWCVOXv8a09STzDAkYYPLWv%2B%2BRS17gP%2FJER4KJhrHVs%2BzBkjDyAO9e9hojuiDrmHeoLNuOliQ8II6H5tsVsR59z%2Brn5ZsNKrO%2F7vVJwxWxwqYKR%2Bhn4xpHOpTxZ3C%2BmWwi9Se2Wz7ysvcaN6Q5Tmv1VYcnPieqAZBLxfo4r5AvY1cIQzDUcmQ5QbAPauffltfW6IZ3ZEP5frZzoodqS7jqYlH3%2FoLH1KO1igKpQPyX2QQCTrXw6C7lKQura65FMVDC92ZCoBjqxAbpii43l2SFVJU0f70HTamzk633i0tS018VSg1iNutFqbl61dKsa%2FQWR3lzmwendEKDw0nGD5oHOEGAvmKKbf60i7zHU79dO1QwONhth1q%2BLlrwlz0FAVy6n%2BSxLmJuDXAo%2F69DwNX1ujyjjKq6msaVDGsWTXJtRqldQVQl7PNEsrADF41OhHuiutnsjiIkrOh6dAI5u61l7sEQMFfAG3UFCJ%2FOCGIhvL7Y2XMKgwkuouQ%3D%3D&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20230915T112323Z&X-Amz-SignedHeaders=host&X-Amz-Expires=600&X-Amz-Credential=ASIA25DCYHY37NQMISNG%2F20230915%2F<region>%2Fs3%2Faws4_request&X-Amz-Signature=ca71c4ac8212dc6c64867170fd3e4bff681c876b46723bfa0d2027f6706561c5",
            "RepositoryType": "S3"
          },
          "Configuration": {
            "Architectures": [
              "x86_64"
            ],
            "CodeSha256": "8x2mIBv/0esIwzzfLHwcRfnHsMa44+CYK7yQ7TcvrYw=",
            "CodeSize": 1080,
            "Description": "",
            "Environment": {
              "Variables": {
                "configTable": "serverlesspresso-config-table",
                "countingTable": "serverlesspresso-counting-table"
              }
            },
            "EphemeralStorage": {
              "Size": 512
            },
            "FunctionArn": "arn:aws:lambda:<region>:111111111111:function:ServerlesspressoStack-PopulateDbFnECBC3588-ab759D6lIT6r",
            "FunctionName": "ServerlesspressoStack-PopulateDbFnECBC3588-ab759D6lIT6r",
            "Handler": "index.handler",
            "LastModified": "date",
            "LastUpdateStatus": "Successful",
            "MemorySize": 128,
            "PackageType": "Zip",
            "RevisionId": "<uuid:12>",
            "Role": "arn:aws:iam::111111111111:role/ServerlesspressoStack-PopulateDbFnServiceRoleB4CF4-CX7E0CRCC6ZX",
            "Runtime": "nodejs14.x",
            "RuntimeVersionConfig": {
              "RuntimeVersionArn": "arn:aws:lambda:<region>::runtime:496ba426e205a4ce6d9fbda32d68e7e6d9ffcd114c55db974a7a12652f57ac74"
            },
            "SnapStart": {
              "ApplyOn": "None",
              "OptimizationStatus": "Off"
            },
            "State": "Active",
            "Timeout": 3,
            "TracingConfig": {
              "Mode": "PassThrough"
            },
            "Version": "$LATEST"
          },
          "Tags": {
            "aws:cloudformation:logical-id": "PopulateDbFnECBC3588",
            "aws:cloudformation:stack-id": "arn:aws:cloudformation:<region>:111111111111:stack/ServerlesspressoStack/b2133d70-53b7-11ee-8350-12a8386ef723",
            "aws:cloudformation:stack-name": "ServerlesspressoStack"
          },
          "ResponseMetadata": {
            "HTTPHeaders": {},
            "HTTPStatusCode": 200
          }
        },
        "PublisherServicePublisherFunctionAdmin226F35A2": {
          "Code": {
            "Location": "https://prod-04-2014-tasks.s3.<region>.amazonaws.com/snapshots/111111111111/ServerlesspressoStack-PublisherServicePublisherFun-rAjo3iDiwasz-2d85dbe2-8d44-4e88-b402-60e803366f72?versionId=Sa_vzahMMAFfJAFcwNXiaKx8E4X9gCdU&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEHMaCXVzLWVhc3QtMSJHMEUCID6CiH6UmR6XKGpWDabBdykKtHkNWB6GlP4pbOtLFSIUAiEA54k1M3pCgH2ghxlO6vkelLg2ZXONTsCRo5ihKMKBewcqsgUIXBAAGgw3NDk2Nzg5MDI4MzkiDJHexOd8JrG%2FSIntZCqPBS4g%2BYg7upPy0s1M6c6udHsfSXzRpyrqPcQpLqo3Xx7QhiO4fTjt%2FPc4gjRa9Ty6JVytKg3ZiuXQ8y7E5hLE67xZJzgmQgTk2uuGF5EQinXMPCBrS98vK3CcC86hHjGGEvW9eX9qUbM7XNZtTPQSJUWDFtnWpqACcZSk9cLHwTkHhjI0fCTzfnTHVBuByVyMeeR7q42Rc8iafTLVQRVG1OSjPcf8jsx8w4sZTWdkR6hKTsjsyzYdhq1w7zB7RQzbf%2FoLc5cFskIlWF13J8kzfApQlFxaEfGczR9afbYf%2Bn0YkryE%2FqxEDX3l2SQH6VxArAWONvWYFiDStgEX0OHDCI0ua8bG7HN6gloTJ3lsRw1wW86sxHFqSAFBm%2BQh7pUQMBRV%2FupW77LUTpEauVNgr7kM8Dhw771Z8ZQ6gtENWPvP2LWSEibpdcrS%2BdYaX3paUNZSRTGJkQ9JY9NlHz15X6HNcRB%2FOk0PtOFT6%2BHAeIjlFxswq3Dku2faE0ePF1alEmKsR9wihGm%2Bo9d2ynHT7z%2Bnka2QMxKSf%2FbPyyNVbhfbs1T%2BIfHH2wQc4ycXxfAdCE3LpXYQ5F%2B7Jzkq5T1zn%2BL%2FO2ljGsnG7wu9QTxYzVfKhoe7sygz6QnbEXP1aO9qWKl2SGClxpiGt0qhO0hByRNMl3lBtSnApwMwTB%2BdZBg05ZHyLZRxiu0VisAVaYrZ%2BtsQAKOMz7ASy7FUkX%2BYBwnA8RaotZ4Yx3SnEz3GHmiuMBYeSKd1jlntV4E7xik8fB1%2FEBjP7B82BgSWRw%2BK2Gdko%2FEPG7TOuqFk9XsmpV0Ukkf31NSCI7JuePd8ZotPftZo6%2F6Wrl0s11HN1qm%2Bk8eQquVHRgAwEwbjjy9DRIUwgPOQqAY6sQE%2FSex9naT131oxfmBt3PdHeIYcQ7UWtBz4nN7i9aSov7xMrHgW3GapMoz3gpVu8iEjiVSPmvMJgVlm1Q1VxyyzjknXUTlxDhAk%2FRNOdonMNuOUHN57zUVUCyzSY1snAb4Ct%2FK2dPRoe7Dnve4w6lOxdCti38K0SI%2FYGBzVof2jvUj3NGO02HKHYAcnQMw4RvsqK6yIdc%2BuQ0UZpHHHiImSKJWRN4yoEBq6J3%2BOUEcTdmM%3D&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20230915T112323Z&X-Amz-SignedHeaders=host&X-Amz-Expires=600&X-Amz-Credential=ASIA25DCYHY3XILADRHE%2F20230915%2F<region>%2Fs3%2Faws4_request&X-Amz-Signature=407cf0af69806d3c5c8dd3fe06ec995ccb8d65ecdc696e3bcfa89d09a7b4cb83",
            "RepositoryType": "S3"
          },
          "Configuration": {
            "Architectures": [
              "x86_64"
            ],
            "CodeSha256": "2yMiER3I1CtBNNFkJL/XJzMT9vQ0KKpa6fYu0L5fJ3I=",
            "CodeSize": 627,
            "Description": "",
            "Environment": {
              "Variables": {
                "IOT_DATA_ENDPOINT": "atk5ptmg4222r.iot.<region>.amazonaws.com",
                "IOT_TOPIC": "serverlesspresso-admin"
              }
            },
            "EphemeralStorage": {
              "Size": 512
            },
            "FunctionArn": "arn:aws:lambda:<region>:111111111111:function:ServerlesspressoStack-PublisherServicePublisherFun-rAjo3iDiwasz",
            "FunctionName": "ServerlesspressoStack-PublisherServicePublisherFun-rAjo3iDiwasz",
            "Handler": "index.handler",
            "LastModified": "date",
            "LastUpdateStatus": "Successful",
            "MemorySize": 128,
            "PackageType": "Zip",
            "RevisionId": "<uuid:13>",
            "Role": "arn:aws:iam::111111111111:role/ServerlesspressoStack-PublisherServicePublisherFun-C13OZV2SAW5L",
            "Runtime": "nodejs14.x",
            "RuntimeVersionConfig": {
              "RuntimeVersionArn": "arn:aws:lambda:<region>::runtime:496ba426e205a4ce6d9fbda32d68e7e6d9ffcd114c55db974a7a12652f57ac74"
            },
            "SnapStart": {
              "ApplyOn": "None",
              "OptimizationStatus": "Off"
            },
            "State": "Active",
            "Timeout": 3,
            "TracingConfig": {
              "Mode": "PassThrough"
            },
            "Version": "$LATEST"
          },
          "Tags": {
            "aws:cloudformation:logical-id": "PublisherServicePublisherFunctionAdmin226F35A2",
            "aws:cloudformation:stack-id": "arn:aws:cloudformation:<region>:111111111111:stack/ServerlesspressoStack/b2133d70-53b7-11ee-8350-12a8386ef723",
            "aws:cloudformation:stack-name": "ServerlesspressoStack"
          },
          "ResponseMetadata": {
            "HTTPHeaders": {},
            "HTTPStatusCode": 200
          }
        },
        "PublisherServicePublisherFunctionConfig80C87C83": {
          "Code": {
            "Location": "https://prod-04-2014-tasks.s3.<region>.amazonaws.com/snapshots/111111111111/ServerlesspressoStack-PublisherServicePublisherFun-12Zwk44uul0C-556a15c9-3192-46c3-8f7e-493213bdb5b3?versionId=CrASElp1j.cBJCRNASfS.gh.x2bZAuve&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEHMaCXVzLWVhc3QtMSJGMEQCIAtXSoZSDtd6XDfdpqU0LNjUMdMhe14IvEWSLYER0b7oAiBNy1jArmdE3wEcU8pTWRY%2FYH%2FGwF2t5fjidv2x4dk8WSqwBQhcEAAaDDc0OTY3ODkwMjgzOSIMITVzknvUbo0EvRQ2Ko0FPolGjfUfiTrjPC54IRnFo7slghCY5NCzfz1BgXxpcjKdYbw6JDvI8VKV78Sjywg%2F5wLeLfgv1eUV%2BY4ZGomWeciyFPRRySejFksg6OCc9eCgsylDlQYyWA5uZzBs6hfA15%2BXaRziZJrTSFxf0q%2Ftp48Ks7PCyD3qvm4F7SidBitb%2BJTWqpHhH0Xy%2BwDEDsyA9XtU%2FL1fsOqdQHgoM0p3%2BwJoQvX6TicSmMkh4l3FxjDFIk%2FpFvmZvrPfhTMVfv5jz11BGoOWW%2FhtcEerupKkZeHnwHBJl5fZQdJU6QOyCzzdu11o%2B03%2FQegUKMoBYRlhK2TYyRbTCmYgVtLY5KNB7i6XUWuA7MS%2BEvQ8jZAs8p0MaUGTOj0TvfvZdLHlZXW%2B%2FAmXDWHMDkx9p5hHcmKqrArGnnUkH%2Bvt1EDte7C4IBfEdGl%2BTK0INVNvGkGuYLFhMKt2nAKnwYIq2L2JZl2VkHEshYlgEH1T%2FlllsL37u%2FNX%2FVczZ2DcNh%2BlGyRBRJGYwyAtLbpYuIbhxtXDpy23T0U2BE3XwrVXTuiaBgMWn55pqjE4ussUozKSIq176%2Bi%2ByozZpeaMT7g9t6vxZtctTtFREW3RflrfBK2u8jPGtQZO6e1%2BCeOeJE37qJ%2BpmhcC9q%2FT82uCqBGGAV3sBQnbQ%2B0VGAe5ZPCDBk4gMfYWw97RTV8e5k9nsd%2FM3QDjuLLJw4aMKxA7nuNO7AIT3ofTpjD94Jl2l7cQsBb1gbtrOHqq%2BsSCGYIl%2BrwQuvMd7EJ2Av2gSTHjai8ZlTXlbXKFd5gdd3%2BA8CMCEhCJxr1ST6EeIBOEVVZm%2BauTvUzqhnSv6UwtBN9IZYHiKtefXOttAD%2FAOIKvDGMm5Lr9Cmgwl%2B6QqAY6sgE4sld1aYDdqXPlgJHhe00qicnLWQVL7tnHfwRbRMHBZREMhoq6Mlo1%2FdWAlQfMOgXG5V1ekp0FK2LqS34mtSFKMXwzWsfbEMuifQFpdpAjYJu4tIcgT2n%2F350j2PYnWhhILD8raA5IGDikiT5BCjve7kCf9Zi7wldCtBwmRogR%2F3zRx70CMlG71k1MhYhHmczGHDSa84%2B7zAIqhjinhqKJJHWEG1mIUYBVoXTS4Tk8TgMN&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20230915T112323Z&X-Amz-SignedHeaders=host&X-Amz-Expires=600&X-Amz-Credential=ASIA25DCYHY3XA2F5PWV%2F20230915%2F<region>%2Fs3%2Faws4_request&X-Amz-Signature=e81619ffed43c70d7d8c1a947d46dbfd8f7481ab25e177bdd585ef60cb191101",
            "RepositoryType": "S3"
          },
          "Configuration": {
            "Architectures": [
              "x86_64"
            ],
            "CodeSha256": "2yMiER3I1CtBNNFkJL/XJzMT9vQ0KKpa6fYu0L5fJ3I=",
            "CodeSize": 627,
            "Description": "",
            "Environment": {
              "Variables": {
                "IOT_DATA_ENDPOINT": "atk5ptmg4222r.iot.<region>.amazonaws.com",
                "IOT_TOPIC": "serverlesspresso-config"
              }
            },
            "EphemeralStorage": {
              "Size": 512
            },
            "FunctionArn": "arn:aws:lambda:<region>:111111111111:function:ServerlesspressoStack-PublisherServicePublisherFun-12Zwk44uul0C",
            "FunctionName": "ServerlesspressoStack-PublisherServicePublisherFun-12Zwk44uul0C",
            "Handler": "index.handler",
            "LastModified": "date",
            "LastUpdateStatus": "Successful",
            "MemorySize": 128,
            "PackageType": "Zip",
            "RevisionId": "<uuid:14>",
            "Role": "arn:aws:iam::111111111111:role/ServerlesspressoStack-PublisherServicePublisherFun-5648V92QT80",
            "Runtime": "nodejs14.x",
            "RuntimeVersionConfig": {
              "RuntimeVersionArn": "arn:aws:lambda:<region>::runtime:496ba426e205a4ce6d9fbda32d68e7e6d9ffcd114c55db974a7a12652f57ac74"
            },
            "SnapStart": {
              "ApplyOn": "None",
              "OptimizationStatus": "Off"
            },
            "State": "Active",
            "Timeout": 3,
            "TracingConfig": {
              "Mode": "PassThrough"
            },
            "Version": "$LATEST"
          },
          "Tags": {
            "aws:cloudformation:logical-id": "PublisherServicePublisherFunctionConfig80C87C83",
            "aws:cloudformation:stack-id": "arn:aws:cloudformation:<region>:111111111111:stack/ServerlesspressoStack/b2133d70-53b7-11ee-8350-12a8386ef723",
            "aws:cloudformation:stack-name": "ServerlesspressoStack"
          },
          "ResponseMetadata": {
            "HTTPHeaders": {},
            "HTTPStatusCode": 200
          }
        },
        "PublisherServicePublisherFunctionUserE00A536B": {
          "Code": {
            "Location": "https://prod-04-2014-tasks.s3.<region>.amazonaws.com/snapshots/111111111111/ServerlesspressoStack-PublisherServicePublisherFun-9wnUnJGRH8fR-fa63e101-b799-4c50-8497-80e52d1eced9?versionId=bf.jon7VwNu0Sfskzna9.Ewc.Sq1OJER&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEHMaCXVzLWVhc3QtMSJGMEQCIHyNicmagYZoEM7F3uqQcdjVaG0s7OxtXBY4mzBNIWJ0AiArpSqgsrbYK6aQgvuVZTjfRWTUu%2FXRQSiqBLP8up1YVCqxBQhbEAAaDDc0OTY3ODkwMjgzOSIMVWy%2Fr8YDrVx%2BipARKo4FPJnvZOXHhh4D11d%2BqQefem9iCRfsnDsNIkDqTDUDdvsljFJlzT6rvmK%2BNi6oUbrp3iSy6lM%2B0qQeBcJ2PnlJZOTsreztIMepts2ShyLIb%2ButVVyX02eMKCLrOD0xkXGaN9%2Fh3u1wr%2FMEJSESsYyM67I29RiMT4qFNV6WFY1KC0wy9fE85y%2F8y%2FzUIow1DnE6%2BrT1Dmrc0xYJ9WjEnGO9rUYCvfmlSPvnSklYn4k7tLf9eLvVyAFq0wGIo4gbfReHZXDBLImsKbNWKKtlt0HSjwqBquVmZW23dOce9iDkh7GWqstHvAzZgw%2B5Wl%2FSr1EPZWFm5JnxA50%2BYh6oCfIffL7ZUN%2FrNzQh8CMV1Zp%2BvBKzp2Ur8VGjPBJzTpUzH8%2BNNw7ovyCpGOTpCo%2FbT17qRdEQBxOlphbhFGeWzue2YjDEYlytcXKVRmNy6iHDj0AlOlj5r3Wrzd6JYMKhjSgveB8p2NmGFKoDbkzJwAmhfWpGs8bkW5P9aQrCh7QeVsk1mEJNhkFQOXQe6kZkiNcwYUBd%2B%2B5dICh%2BwKuUXUo8oTMgU%2B%2BDXM7v0cRXL035mRLo0f%2F7obNpV7sLUVnQ8NNmgAuYlbpCS3eube%2FcvKMYUwJWMsRJaTutcJtrVZVkWCIuP%2B8L%2F2EaCbod3RrzwyC6iFqE5FF6nRk%2BBZKgI74w9LEvrUMOVlGqq2pQ66msNwLhVhDCylMhk7RacyE9vkgpZRZMXFyrXcU5uHR5MuZICmlat0J6jkZkdqBycfJbT0CO6DPsBRHcGnjAIqTAR%2FHTFO9Qz1z%2Brqukolvjpm%2FWDRwMchCg5geSt%2FGk9JzAT5Znph4PkePDF5CBvLLElab9XK4gvanR7gVjcVtD9CqIMNTkkKgGOrIBQelUqaZE%2FI2A%2F%2Fyfov5jJUPa1gkrGIKAZhO7PTkWCZr9FUyGE4dGkCz1lETqi%2BHzpdnfYdpmPaANeG3ByjPBsa%2FvIeUOcF4LlweyZ6ab%2BMxq%2BOdvblP4IAFBtxp%2FULF4bLt%2BG6ZqBeKyQLjLR46qlQyUa1tar9%2Be4CLcdCHQb18LeukqyHC%2FdVyLzJKp8%2BmdL2v5D0oJX9f9BYs9VkXsMobET03wGi1XjRU9QGZ3u5kRow%3D%3D&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20230915T112324Z&X-Amz-SignedHeaders=host&X-Amz-Expires=600&X-Amz-Credential=ASIA25DCYHY3YWJYTVPP%2F20230915%2F<region>%2Fs3%2Faws4_request&X-Amz-Signature=efa9b67ad427ffb99e18c1ba75919af6b79f194ad4d2ec950a30b10d879b1d30",
            "RepositoryType": "S3"
          },
          "Configuration": {
            "Architectures": [
              "x86_64"
            ],
            "CodeSha256": "L0+nUfKcncAJ9JbTT6ZC6OKIgHOXlS9XizBXfOMzhoc=",
            "CodeSize": 656,
            "Description": "",
            "Environment": {
              "Variables": {
                "IOT_DATA_ENDPOINT": "atk5ptmg4222r.iot.<region>.amazonaws.com",
                "IOT_TOPIC": "serverlesspresso-user-"
              }
            },
            "EphemeralStorage": {
              "Size": 512
            },
            "FunctionArn": "arn:aws:lambda:<region>:111111111111:function:ServerlesspressoStack-PublisherServicePublisherFun-9wnUnJGRH8fR",
            "FunctionName": "ServerlesspressoStack-PublisherServicePublisherFun-9wnUnJGRH8fR",
            "Handler": "index.handler",
            "LastModified": "date",
            "LastUpdateStatus": "Successful",
            "MemorySize": 128,
            "PackageType": "Zip",
            "RevisionId": "<uuid:15>",
            "Role": "arn:aws:iam::111111111111:role/ServerlesspressoStack-PublisherServicePublisherFun-13G39OE2S1GXJ",
            "Runtime": "nodejs14.x",
            "RuntimeVersionConfig": {
              "RuntimeVersionArn": "arn:aws:lambda:<region>::runtime:496ba426e205a4ce6d9fbda32d68e7e6d9ffcd114c55db974a7a12652f57ac74"
            },
            "SnapStart": {
              "ApplyOn": "None",
              "OptimizationStatus": "Off"
            },
            "State": "Active",
            "Timeout": 3,
            "TracingConfig": {
              "Mode": "PassThrough"
            },
            "Version": "$LATEST"
          },
          "Tags": {
            "aws:cloudformation:logical-id": "PublisherServicePublisherFunctionUserE00A536B",
            "aws:cloudformation:stack-id": "arn:aws:cloudformation:<region>:111111111111:stack/ServerlesspressoStack/b2133d70-53b7-11ee-8350-12a8386ef723",
            "aws:cloudformation:stack-name": "ServerlesspressoStack"
          },
          "ResponseMetadata": {
            "HTTPHeaders": {},
            "HTTPStatusCode": 200
          }
        },
        "ValidatorServiceGetQRcodeFunctionB2637D0B": {
          "Code": {
            "Location": "https://prod-04-2014-tasks.s3.<region>.amazonaws.com/snapshots/111111111111/ServerlesspressoStack-ValidatorServiceGetQRcodeFun-ttieLe5mEQoQ-282fecf6-9f73-45bf-bf88-95b126e456f0?versionId=RPP5qNTPt5y3Kis5rkPn0Si3z35hAh6m&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEHQaCXVzLWVhc3QtMSJHMEUCIAP1rBT90%2F92MeQDwIKAPIT9GyBRd79w2zPjSjHqu4kjAiEA3%2BHGl4a4biWvcP9wPQeAjO%2BjJT630OfWktAoFKH2u8UqsQUIXBAAGgw3NDk2Nzg5MDI4MzkiDKVnDoHlAVra%2BG06hCqOBUHl2ry%2B0Wl%2BWa7hxIqb9cuaeRAJVjCu0gg2%2F8wOrB9wJMIPIzuFD9FHquRTBDton%2F%2FGCi35UdTNcvUo6%2FAMcguWdsswJl5c2XAVqIy8wSJpwMLEtLultz5TYC9WfRFrPamUgiIM%2By0cMwUeSPTSen4dJp%2BDWVxqLBBAZWEZIjXjWkoppmeX6aNdrxHcOrpPSwySfWUgUDTbLaIx41gT9RVphcLyqYcyhRHfz066l6m6QHmc2tHtytIMnZ4R1XCw200f9nelJOzPJj3aHL1OeSR%2BcrTR%2FhtLKaHMJenEMInJNsFlzRTfmDwNkCLr90G8ieyW9YLfmFQypQZ9D5EM0imduMw1YV%2BRYx3boQgZkcALz3CY5ocwMS8%2Bs1%2F7U4GaYSo0NOG97nHkC6gzw0jDFsesnb4Pg4N2pMc8iWFzCfEWCtNaBhnvc0vP2voWyaXiiH3fe5nxLUgO4Ok%2FWFiNS6KF3oXnQ5szv7vi7wPH3M72Grgng5GdYg84kZdJTnIBaqLwbmSbun2lxVqnrmvaygyPbc3SbL8Siv%2Bgw9shk5wFo113ca6X0SuP4o%2BY4h7VwSXmYGF85uoZzqpZJCw0%2FEiAmw%2FDF5IcxIXKXyHrEonO0RCA90MTBaoBTomZnuadGXT4Gzs99cDqcXqv1ID6E1BIRm6dhpTOC9sKparZWZGUw2QquqjyLD8Na6Ehj6bxWSiY4sXX1JqGm%2F%2BDI%2BAU2lRDw5TKyLelpmPDaOnBDpFaH8KDyQ8z5R3f0tk4KBC71dPKIirLC0ys3IoOGN4kx6girrDNnD9QLoZRGdvwUwvnWWQyjF%2FFXlFmtw3DUSpDtf49I7DKNJZ8aH9fnc8LU6P0XRL%2F%2FRozEWxvLqECpjDp9ZCoBjqxARGaFQxbnXI%2BTjIZuwMveZ7mPlp8THMNWe7IL8f%2Bj7UMhqosA%2FYqD00bbrWRMjWoy%2FRdTX5NPa9Ukk2x%2BG2%2B%2Fj570DqN0goCJzlwSMxuWCXTsp0rpkR8P320OqLoPdWuVvT5ksneeq2OFCgJJ2twNj7xcUK4AFlwTrV%2BhTX1%2BRFn9m9%2BU6yGbaJXEUyQrBP50KCFynt9yFfWSYmm5goVKpqzlGQk8WMLUWJtqLf1ML6kGA%3D%3D&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20230915T112324Z&X-Amz-SignedHeaders=host&X-Amz-Expires=600&X-Amz-Credential=ASIA25DCYHY3SCY5RLIE%2F20230915%2F<region>%2Fs3%2Faws4_request&X-Amz-Signature=39523047b47be31781f17f12d7e835b65122be0543a297d633877a766a376675",
            "RepositoryType": "S3"
          },
          "Configuration": {
            "Architectures": [
              "x86_64"
            ],
            "CodeSha256": "p8a3LlwzlKLsolHymEu6JfD289T8aLHNOkB/0JnTESk=",
            "CodeSize": 1769,
            "Description": "",
            "Environment": {
              "Variables": {
                "AWS_NODEJS_CONNECTION_REUSE_ENABLED": "1",
                "BusName": "Serverlesspresso",
                "CodeLength": "10",
                "Source": "lstesting.serverlesspresso",
                "TableName": "serverlesspresso-validator-table",
                "TimeInterval": "5",
                "TokensPerBucket": "10"
              }
            },
            "EphemeralStorage": {
              "Size": 512
            },
            "FunctionArn": "arn:aws:lambda:<region>:111111111111:function:ServerlesspressoStack-ValidatorServiceGetQRcodeFun-ttieLe5mEQoQ",
            "FunctionName": "ServerlesspressoStack-ValidatorServiceGetQRcodeFun-ttieLe5mEQoQ",
            "Handler": "index.handler",
            "LastModified": "date",
            "LastUpdateStatus": "Successful",
            "MemorySize": 128,
            "PackageType": "Zip",
            "RevisionId": "<uuid:16>",
            "Role": "arn:aws:iam::111111111111:role/ServerlesspressoStack-ValidatorServiceGetQRcodeFun-RDQ1VMFIH6HI",
            "Runtime": "nodejs14.x",
            "RuntimeVersionConfig": {
              "RuntimeVersionArn": "arn:aws:lambda:<region>::runtime:496ba426e205a4ce6d9fbda32d68e7e6d9ffcd114c55db974a7a12652f57ac74"
            },
            "SnapStart": {
              "ApplyOn": "None",
              "OptimizationStatus": "Off"
            },
            "State": "Active",
            "Timeout": 15,
            "TracingConfig": {
              "Mode": "PassThrough"
            },
            "Version": "$LATEST"
          },
          "Tags": {
            "aws:cloudformation:logical-id": "ValidatorServiceGetQRcodeFunctionB2637D0B",
            "aws:cloudformation:stack-id": "arn:aws:cloudformation:<region>:111111111111:stack/ServerlesspressoStack/b2133d70-53b7-11ee-8350-12a8386ef723",
            "aws:cloudformation:stack-name": "ServerlesspressoStack"
          },
          "ResponseMetadata": {
            "HTTPHeaders": {},
            "HTTPStatusCode": 200
          }
        },
        "ValidatorServiceValidatorTable7D2B03D6": {
          "Table": {
            "AttributeDefinitions": [
              {
                "AttributeName": "PK",
                "AttributeType": "N"
              }
            ],
            "BillingModeSummary": {
              "BillingMode": "PAY_PER_REQUEST",
              "LastUpdateToPayPerRequestDateTime": "datetime"
            },
            "CreationDateTime": "datetime",
            "DeletionProtectionEnabled": false,
            "ItemCount": 0,
            "KeySchema": [
              {
                "AttributeName": "PK",
                "KeyType": "HASH"
              }
            ],
            "LatestStreamArn": "arn:aws:dynamodb:<region>:111111111111:table/serverlesspresso-validator-table/stream/2023-09-15T11:05:23.411",
            "LatestStreamLabel": "2023-09-15T11:05:23.411",
            "ProvisionedThroughput": {
              "NumberOfDecreasesToday": 0,
              "ReadCapacityUnits": 0,
              "WriteCapacityUnits": 0
            },
            "StreamSpecification": {
              "StreamEnabled": true,
              "StreamViewType": "NEW_AND_OLD_IMAGES"
            },
            "TableArn": "arn:aws:dynamodb:<region>:111111111111:table/serverlesspresso-validator-table",
            "TableId": "<uuid:17>",
            "TableName": "serverlesspresso-validator-table",
            "TableSizeBytes": 0,
            "TableStatus": "ACTIVE"
          },
          "ResponseMetadata": {
            "HTTPHeaders": {},
            "HTTPStatusCode": 200
          }
        },
        "ValidatorServiceVerifyQRcodeFunctionE764124F": {
          "Code": {
            "Location": "https://prod-04-2014-tasks.s3.<region>.amazonaws.com/snapshots/111111111111/ServerlesspressoStack-ValidatorServiceVerifyQRcode-3vFhbo94ZZUo-06e2a39f-7703-4d1e-839d-c1a88f1ba397?versionId=S7txcFONWLdd0CQBkzpC.FAM9shaKUDH&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEHMaCXVzLWVhc3QtMSJGMEQCIBLIynA3CRn4viZnZ2okuOAb4kKx0Sqdn%2B%2FDjN5oFio2AiB0EQIHEr4GdL%2BZa0PGrkfYyP2BtnSZe0wBuXNkQVZh1SqyBQhbEAAaDDc0OTY3ODkwMjgzOSIMu1x2rZa7yUnRdiqyKo8FpB9zXalZlgmmQG4aVOv9luLKMSlI5Z4z5qD6IJF0lC3ubfTRuJrJa7twP4QxIs%2FBA5T5aVnxawi88Hd9nfJMptkCVYOGnYLM3zMOKRRf4VdeTZ969Efm6zz09v6fHH8poqkLa5xImUzYJjjAhXOqgDYtof9lzV0k32eF6WAiZZkeyIjWfDSTnXDWEL4hO9tkEJZR5myiFJcSZBWBPzsV7B1F%2BFw1zmZ6zePd7TvIfrgZrF76PgDrJnDgs8Qrn3sHkkv70Kngu%2BB57xv0VPRptw3ZwmQVy9tA5txY%2B73bWKaC4UWr7obIzkbM4hLQYVPyYpmWWoxY8o2Ih1YHRjsgstCBrPSpFuliky%2F7y6UFGZUfrpMrVZ7IdWnJn1913isesj81e9win9%2BCB82f6Z6mGLBDNVSbtvdCX%2FZfr%2B4vACbCdaW8Ix8ou51PdlEdYEfQcR4mSQSqW9NzuRk34IsoYBlA4EHdLbiLVVw8pyFhTqfG5AJM6gxGyFRCZ6TuTXJZ%2BJ8CwbGP52K%2BUSMvFtiGxd7x%2Fsp0vk4vgaa4JkKI65N0awIr5xHNhmzgHBUorzDyImagcwoHDuWz4L%2BA3iuVjdwYtl%2BBc7%2Ba6d5wJe9n8U2MeKNXVPd1f3jXlieR33VhW5NzJ4Xa8dyI2LKFthqlMKH17jA1zQBPYWxP09y2JuxuKjBiQ4WeTAVPc4txtjg0yyMgK3Ocf7zqlMZ5oVPwUpcuIJ7nzwnbB88ySqtI%2FZVKDxxbDI2Fl7ZGM5m%2FBoBI2m7gHuyI0yTkoIbjqbh0%2BPYWfVb3vQ50aVOlpTcTzHuoDIBpXV7JwOiAiWDYnfNPPqyLzF2H3ASRoJgP%2FMaczgM9UwOKEBk%2B6zokL7AOwTD44JCoBjqyAWWtuO9nxZNYMRGr5aEXygN2w5EAgdKZd5j4BMxUJxYNzaBsYgETJ7soocAcCUbH4UEJ8ux9GZG%2F3tnLkI%2BI1BrUZ4moiZFSOFdw0FqbTT7d9TpnnUSomQC1UWR1xWqJZFE7zA2F%2FxJFuMkN97K9gLfO1uc0uT6zuKvDXOgan0W6m%2B5MClinKZcKlqpwwO217RtoN8oBnhcH74mJDe9cjwv%2Ff1xB5knSdN%2BXi7TPXIvfgkg%3D&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20230915T112324Z&X-Amz-SignedHeaders=host&X-Amz-Expires=599&X-Amz-Credential=ASIA25DCYHY3XJ4VLM6R%2F20230915%2F<region>%2Fs3%2Faws4_request&X-Amz-Signature=968997d0aa33bb5d8f5eab12d8f169e06738ab712bc30f1229be7031c385df2d",
            "RepositoryType": "S3"
          },
          "Configuration": {
            "Architectures": [
              "x86_64"
            ],
            "CodeSha256": "JefxAWHM0qMJPJ/VAHOmEW1t/sakLGC2p52EGMnp93E=",
            "CodeSize": 1993,
            "Description": "",
            "Environment": {
              "Variables": {
                "AWS_NODEJS_CONNECTION_REUSE_ENABLED": "1",
                "BusName": "Serverlesspresso",
                "CodeLength": "10",
                "Source": "lstesting.serverlesspresso",
                "TableName": "serverlesspresso-validator-table",
                "TimeInterval": "5",
                "TokensPerBucket": "10"
              }
            },
            "EphemeralStorage": {
              "Size": 512
            },
            "FunctionArn": "arn:aws:lambda:<region>:111111111111:function:ServerlesspressoStack-ValidatorServiceVerifyQRcode-3vFhbo94ZZUo",
            "FunctionName": "ServerlesspressoStack-ValidatorServiceVerifyQRcode-3vFhbo94ZZUo",
            "Handler": "index.handler",
            "LastModified": "date",
            "LastUpdateStatus": "Successful",
            "MemorySize": 128,
            "PackageType": "Zip",
            "RevisionId": "<uuid:18>",
            "Role": "arn:aws:iam::111111111111:role/ServerlesspressoStack-ValidatorServiceVerifyQRcode-4R26DVN2U9SM",
            "Runtime": "nodejs14.x",
            "RuntimeVersionConfig": {
              "RuntimeVersionArn": "arn:aws:lambda:<region>::runtime:496ba426e205a4ce6d9fbda32d68e7e6d9ffcd114c55db974a7a12652f57ac74"
            },
            "SnapStart": {
              "ApplyOn": "None",
              "OptimizationStatus": "Off"
            },
            "State": "Active",
            "Timeout": 10,
            "TracingConfig": {
              "Mode": "PassThrough"
            },
            "Version": "$LATEST"
          },
          "Tags": {
            "aws:cloudformation:logical-id": "ValidatorServiceVerifyQRcodeFunctionE764124F",
            "aws:cloudformation:stack-id": "arn:aws:cloudformation:<region>:111111111111:stack/ServerlesspressoStack/b2133d70-53b7-11ee-8350-12a8386ef723",
            "aws:cloudformation:stack-name": "ServerlesspressoStack"
          },
          "ResponseMetadata": {
            "HTTPHeaders": {},
            "HTTPStatusCode": 200
          }
        }
      }
    }
  }
}
