tests/aws/services/stepfunctions/templates/services/statemachines/aws_sdk_dynamodb_put_update_get_item.json5
{
  "Comment": "AWS_SDK_DYNAMODB_PUT_UPDATE_GET_ITEM",
  "StartAt": "PutItem",
  "States": {
    "PutItem": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:dynamodb:putItem",
      "Parameters": {
        "TableName.$": "$.TableName",
        "Item.$": "$.Item"
      },
      "ResultPath": "$.putItemOutput",
      "Next": "UpdateItem"
    },
    "UpdateItem": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:dynamodb:updateItem",
      "ResultPath": "$.updateItemOutput",
      "Parameters": {
        "TableName.$": "$.TableName",
        "Key.$": "$.Key",
        "UpdateExpression.$": "$.UpdateExpression",
        "ExpressionAttributeValues.$": "$.ExpressionAttributeValues",
        "ReturnValues": "UPDATED_NEW",
      },
      "Next": "GetItem"
    },
    "GetItem": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:dynamodb:getItem",
      "ResultPath": "$.getItemOutput",
      "Parameters": {
        "TableName.$": "$.TableName",
        "Key.$": "$.Key"
      },
      "End": true
    }
  }
}
